<!--Blog Area Start-->
<div class="blog-side-area bg-color-2 page-padding">
    <div class="container">
        <div class="row">
            <div class="blog-sidebar">
                <div class="col-md-8 col-sm-8 col-xs-12">
                    <div class="blog-right-column">


                        <div id="myScroll"></div>


                        <div id="indexPage" hidden><%= page %> </div>

                        <div class="blog-pagination text-center">

                            <div class="navigation pagination" role="navigation" aria-label="Posts">
                                <h2 class="screen-reader-text">Posts navigation</h2>
                                <button class="btn btn-warning" id="buttonNextBlog">Next</button>
                            </div>
                            <div id="endPage"></div>

                            </nav>
                        </div>

                    </div>
                </div>

                <!-- End single blog -->
                <!-- Start single blog -->
                <div class="col-md-4 col-sm-4 col-xs-12">
                    <div class="left-head-blog">
                        <div class="widget_search left-blog widget" id="search-4">

                            <form role="search" method="get" action="https://themepuller.com/cavalier/">
                                <div class="blog-search-option">
                                    <input type="search" id="search-form-5f97cd0927390" placeholder="Search..." value=""
                                        name="s">
                                    <button class="button" type="submit"><i class="fa fa-search"></i></button>
                                </div>
                            </form>
                        </div>
                        <div class="widget_categories left-blog widget" id="categories-5">
                            <h4 class="title-aside">Categories</h4>
                            <ul>
                                <li class="cat-item cat-item-8"><a href="../category/alverter-david/index.html">Alverter
                                        david</a>
                                </li>
                                <li class="cat-item cat-item-9"><a href="../category/daneres-fight/index.html">Daneres
                                        fight</a>
                                </li>
                                <li class="cat-item cat-item-4"><a href="../category/draogons-war/index.html">Draogons
                                        war</a>
                                </li>
                                <li class="cat-item cat-item-7"><a href="../category/ripple-fight/index.html">Ripple
                                        fight</a>
                                </li>
                                <li class="cat-item cat-item-6"><a
                                        href="../category/skyfall-challange/index.html">Skyfall
                                        challange</a>
                                </li>
                                <li class="cat-item cat-item-1"><a
                                        href="../category/uncategorized/index.html">Uncategorized</a>
                                </li>
                            </ul>

                        </div>
                        <div class="widget_cavalier_posts left-blog widget" id="cavalier_posts-3">
                            <h4 class="title-aside">Recent Posts</h4>
                            <div class="recent-post">

                                <div class="recent-single-post">
                                    <div class="post-img">
                                        <a
                                            href="../cavalier-studios-has-been-creating-innovative-games-since-2003-4/index.html">
                                            <img width="1200" height="860"
                                                src="data:image/svg+xml,%3Csvg%20xmlns='http://www.w3.org/2000/svg'%20viewBox='0%200%201200%20860'%3E%3C/svg%3E"
                                                class="attachment-full size-full wp-post-image" alt="" loading="lazy"
                                                data-lazy-srcset="https://themepuller.com/cavalier/wp-content/uploads/2019/04/b1.jpg 1200w, https://themepuller.com/cavalier/wp-content/uploads/2019/04/b1-300x215.jpg 300w, https://themepuller.com/cavalier/wp-content/uploads/2019/04/b1-768x550.jpg 768w, https://themepuller.com/cavalier/wp-content/uploads/2019/04/b1-1024x734.jpg 1024w, https://themepuller.com/cavalier/wp-content/uploads/2019/04/b1-1033x740.jpg 1033w"
                                                data-lazy-sizes="(max-width: 1200px) 100vw, 1200px"
                                                data-lazy-src="../wp-content/uploads/2019/04/b1.jpg" /><noscript><img
                                                    width="1200" height="860" src="../wp-content/uploads/2019/04/b1.jpg"
                                                    class="attachment-full size-full wp-post-image" alt=""
                                                    loading="lazy"
                                                    srcset="https://themepuller.com/cavalier/wp-content/uploads/2019/04/b1.jpg 1200w, https://themepuller.com/cavalier/wp-content/uploads/2019/04/b1-300x215.jpg 300w, https://themepuller.com/cavalier/wp-content/uploads/2019/04/b1-768x550.jpg 768w, https://themepuller.com/cavalier/wp-content/uploads/2019/04/b1-1024x734.jpg 1024w, https://themepuller.com/cavalier/wp-content/uploads/2019/04/b1-1033x740.jpg 1033w"
                                                    sizes="(max-width: 1200px) 100vw, 1200px" /></noscript> </a>
                                    </div>
                                    <div class="pst-content">
                                        <p><a
                                                href="../cavalier-studios-has-been-creating-innovative-games-since-2003-4/index.html">We
                                                are creating innovative games since 2003</a></p>
                                        <span class="date-type">
                                            27 Oct / 2020 </span>
                                    </div>
                                </div>

                                <div class="recent-single-post">
                                    <div class="post-img">
                                        <a
                                            href="../cavalier-studios-has-been-creating-innovative-games-since-2003-3/index.html">
                                            <img width="1200" height="860"
                                                src="data:image/svg+xml,%3Csvg%20xmlns='http://www.w3.org/2000/svg'%20viewBox='0%200%201200%20860'%3E%3C/svg%3E"
                                                class="attachment-full size-full wp-post-image" alt="" loading="lazy"
                                                data-lazy-srcset="https://themepuller.com/cavalier/wp-content/uploads/2019/02/b2-1.jpg 1200w, https://themepuller.com/cavalier/wp-content/uploads/2019/02/b2-1-300x215.jpg 300w, https://themepuller.com/cavalier/wp-content/uploads/2019/02/b2-1-768x550.jpg 768w, https://themepuller.com/cavalier/wp-content/uploads/2019/02/b2-1-1024x734.jpg 1024w, https://themepuller.com/cavalier/wp-content/uploads/2019/02/b2-1-1033x740.jpg 1033w"
                                                data-lazy-sizes="(max-width: 1200px) 100vw, 1200px"
                                                data-lazy-src="../wp-content/uploads/2019/02/b2-1.jpg" /><noscript><img
                                                    width="1200" height="860"
                                                    src="../wp-content/uploads/2019/02/b2-1.jpg"
                                                    class="attachment-full size-full wp-post-image" alt=""
                                                    loading="lazy"
                                                    srcset="https://themepuller.com/cavalier/wp-content/uploads/2019/02/b2-1.jpg 1200w, https://themepuller.com/cavalier/wp-content/uploads/2019/02/b2-1-300x215.jpg 300w, https://themepuller.com/cavalier/wp-content/uploads/2019/02/b2-1-768x550.jpg 768w, https://themepuller.com/cavalier/wp-content/uploads/2019/02/b2-1-1024x734.jpg 1024w, https://themepuller.com/cavalier/wp-content/uploads/2019/02/b2-1-1033x740.jpg 1033w"
                                                    sizes="(max-width: 1200px) 100vw, 1200px" /></noscript> </a>
                                    </div>
                                    <div class="pst-content">
                                        <p><a
                                                href="../cavalier-studios-has-been-creating-innovative-games-since-2003-3/index.html">We
                                                offer our clients for enjoy play games.</a></p>
                                        <span class="date-type">
                                            27 Oct / 2020 </span>
                                    </div>
                                </div>

                                <div class="recent-single-post">
                                    <div class="post-img">
                                        <a href="../we-offer-our-clients-professional-development-services/index.html">
                                            <img width="1200" height="860"
                                                src="data:image/svg+xml,%3Csvg%20xmlns='http://www.w3.org/2000/svg'%20viewBox='0%200%201200%20860'%3E%3C/svg%3E"
                                                class="attachment-full size-full wp-post-image" alt="" loading="lazy"
                                                data-lazy-srcset="https://themepuller.com/cavalier/wp-content/uploads/2019/02/b3-1.jpg 1200w, https://themepuller.com/cavalier/wp-content/uploads/2019/02/b3-1-300x215.jpg 300w, https://themepuller.com/cavalier/wp-content/uploads/2019/02/b3-1-768x550.jpg 768w, https://themepuller.com/cavalier/wp-content/uploads/2019/02/b3-1-1024x734.jpg 1024w, https://themepuller.com/cavalier/wp-content/uploads/2019/02/b3-1-1033x740.jpg 1033w"
                                                data-lazy-sizes="(max-width: 1200px) 100vw, 1200px"
                                                data-lazy-src="../wp-content/uploads/2019/02/b3-1.jpg" /><noscript><img
                                                    width="1200" height="860"
                                                    src="../wp-content/uploads/2019/02/b3-1.jpg"
                                                    class="attachment-full size-full wp-post-image" alt=""
                                                    loading="lazy"
                                                    srcset="https://themepuller.com/cavalier/wp-content/uploads/2019/02/b3-1.jpg 1200w, https://themepuller.com/cavalier/wp-content/uploads/2019/02/b3-1-300x215.jpg 300w, https://themepuller.com/cavalier/wp-content/uploads/2019/02/b3-1-768x550.jpg 768w, https://themepuller.com/cavalier/wp-content/uploads/2019/02/b3-1-1024x734.jpg 1024w, https://themepuller.com/cavalier/wp-content/uploads/2019/02/b3-1-1033x740.jpg 1033w"
                                                    sizes="(max-width: 1200px) 100vw, 1200px" /></noscript> </a>
                                    </div>
                                    <div class="pst-content">
                                        <p><a
                                                href="../we-offer-our-clients-professional-development-services/index.html">Join
                                                our studion for play game and enjoy your life</a></p>
                                        <span class="date-type">
                                            27 Oct / 2020 </span>
                                    </div>
                                </div>

                                <div class="recent-single-post">
                                    <div class="post-img">
                                        <a
                                            href="../cavalier-studios-has-been-creating-innovative-games-since-2003-2/index.html">
                                            <img width="1200" height="860"
                                                src="data:image/svg+xml,%3Csvg%20xmlns='http://www.w3.org/2000/svg'%20viewBox='0%200%201200%20860'%3E%3C/svg%3E"
                                                class="attachment-full size-full wp-post-image" alt="" loading="lazy"
                                                data-lazy-srcset="https://themepuller.com/cavalier/wp-content/uploads/2019/02/b4.jpg 1200w, https://themepuller.com/cavalier/wp-content/uploads/2019/02/b4-300x215.jpg 300w, https://themepuller.com/cavalier/wp-content/uploads/2019/02/b4-768x550.jpg 768w, https://themepuller.com/cavalier/wp-content/uploads/2019/02/b4-1024x734.jpg 1024w, https://themepuller.com/cavalier/wp-content/uploads/2019/02/b4-1033x740.jpg 1033w"
                                                data-lazy-sizes="(max-width: 1200px) 100vw, 1200px"
                                                data-lazy-src="../wp-content/uploads/2019/02/b4.jpg" /><noscript><img
                                                    width="1200" height="860" src="../wp-content/uploads/2019/02/b4.jpg"
                                                    class="attachment-full size-full wp-post-image" alt=""
                                                    loading="lazy"
                                                    srcset="https://themepuller.com/cavalier/wp-content/uploads/2019/02/b4.jpg 1200w, https://themepuller.com/cavalier/wp-content/uploads/2019/02/b4-300x215.jpg 300w, https://themepuller.com/cavalier/wp-content/uploads/2019/02/b4-768x550.jpg 768w, https://themepuller.com/cavalier/wp-content/uploads/2019/02/b4-1024x734.jpg 1024w, https://themepuller.com/cavalier/wp-content/uploads/2019/02/b4-1033x740.jpg 1033w"
                                                    sizes="(max-width: 1200px) 100vw, 1200px" /></noscript> </a>
                                    </div>
                                    <div class="pst-content">
                                        <p><a
                                                href="../cavalier-studios-has-been-creating-innovative-games-since-2003-2/index.html">We
                                                are creating innovative games since 2003</a></p>
                                        <span class="date-type">
                                            27 Oct / 2020 </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="widget_tag_cloud left-blog widget" id="tag_cloud-3">
                            <h4 class="title-aside">Popular Tags</h4>
                            <div class="tagcloud"><a href="../tag/alverter/index.html"
                                    class="tag-cloud-link tag-link-14 tag-link-position-1" style="font-size: 8pt;"
                                    aria-label="Alverter (1 item)">Alverter</a>
                                <a href="../tag/challange/index.html"
                                    class="tag-cloud-link tag-link-12 tag-link-position-2" style="font-size: 22pt;"
                                    aria-label="Challange (2 items)">Challange</a>
                                <a href="../tag/daneres/index.html"
                                    class="tag-cloud-link tag-link-15 tag-link-position-3" style="font-size: 22pt;"
                                    aria-label="Daneres (2 items)">Daneres</a>
                                <a href="../tag/draogons/index.html"
                                    class="tag-cloud-link tag-link-10 tag-link-position-4" style="font-size: 8pt;"
                                    aria-label="Draogons (1 item)">Draogons</a>
                                <a href="../tag/ripple/index.html"
                                    class="tag-cloud-link tag-link-13 tag-link-position-5" style="font-size: 8pt;"
                                    aria-label="Ripple (1 item)">Ripple</a>
                                <a href="../tag/stranger/index.html"
                                    class="tag-cloud-link tag-link-11 tag-link-position-6" style="font-size: 8pt;"
                                    aria-label="Stranger (1 item)">Stranger</a></div>
                        </div>
                    </div>
                </div>
                <!-- End single blog -->
            </div>
        </div>
        <!-- End row -->
    </div>
</div>
<!--End of Blog Area-->