<!-- End breadcumb Area -->
<!--Blog Area Start-->
<div class="blog-details bg-color-2 page-padding">
    <div class="container">
        <div class="row">
            <div class="blog-details">
                <!-- Start single blog -->
                <div class="col-md-8 col-sm-8 col-xs-12">
                    <!-- single-blog start -->
                    <article class="blog-post-wrapper">
                        <div class="blog-banner">
                            <div class="blog-images">
                                <img width="1033" height="740"
                                    src="data:image/svg+xml,%3Csvg%20xmlns='http://www.w3.org/2000/svg'%20viewBox='0%200%201033%20740'%3E%3C/svg%3E"
                                    class="attachment-post-thumbnail size-post-thumbnail wp-post-image" alt=""
                                    loading="lazy" data-lazy-srcset="<%= data.img %>"
                                    data-lazy-sizes="(max-width: 1033px) 100vw, 1033px"
                                    data-lazy-src="<%= data.img %> " /><noscript><img width="1033" height="740"
                                        src="<%= data.img %> "
                                        class="attachment-post-thumbnail size-post-thumbnail wp-post-image" alt=""
                                        loading="lazy" srcset="<%= data.img %> "
                                        sizes="(max-width: 1033px) 100vw, 1033px" /></noscript> </div>
                            <div class="blog-content">
                                <div class="blog-meta">
                                    <span class="date-type">
                                        <i class="fa fa-clock-o"></i>
                                        <%= data.updatedAt.toDateString() %> </span>
                                </div>
                                <h4><%= data.title %> </h4>
                                <%- data.content %>
                            </div>
                        </div>
                    </article>
                    <div class="clear"></div>
                    <div id="comments" class="single-post-comments">
                        <div class="comments-area">
                            <div class="comments-heading">
                                <h3>
                                    <%= comment.length %> bình luận </h3>
                            </div>
                            <div class="comments-list">
                                <ul>
                                    <% for(var i=0; i<comment.length; i++) { %>

                                    <li id="comment-5"
                                        class="comment byuser comment-author-admin bypostauthor even thread-even depth-1 media ">
                                        <div id="div-comment-5" class="comments-details">
                                            <div class="comments-list-img">
                                                <a href="#" class="">
                                                    <img alt=''
                                                        src="data:image/svg+xml,%3Csvg%20xmlns='http://www.w3.org/2000/svg'%20viewBox='0%200%2080%2080'%3E%3C/svg%3E"
                                                        data-lazy-srcset='https://secure.gravatar.com/avatar/3d34ee3bbfc48a1761f91928b48243c3?s=160&#038;d=mm&#038;r=g 2x'
                                                        class='avatar avatar-80 photo' height='80' width='80'
                                                        loading='lazy'
                                                        data-lazy-src="https://secure.gravatar.com/avatar/3d34ee3bbfc48a1761f91928b48243c3?s=80&amp;d=mm&amp;r=g" /><noscript><img
                                                            alt=''
                                                            src='https://secure.gravatar.com/avatar/3d34ee3bbfc48a1761f91928b48243c3?s=80&amp;d=mm&amp;r=g'
                                                            srcset='https://secure.gravatar.com/avatar/3d34ee3bbfc48a1761f91928b48243c3?s=160&#038;d=mm&#038;r=g 2x'
                                                            class='avatar avatar-80 photo' height='80' width='80'
                                                            loading='lazy' /></noscript> </a>
                                            </div>
                                            <div class="comments-content-wrap">
                                                <span class="meta-author"><b><a
                                                            href="index.html#comment-5"><%= comment[i].name %></a></b>
                                                    <span class="post-time">
                                                        <time datetime="2019-04-15T18:31:30+00:00">
                                                            <%= comment[i].updatedAt.toDateString() %> </time>
                                                    </span><!-- .comment-metadata -->


                                                    <p><%= comment[i].content %></p>
                                            </div>
                                        </div>
                                    </li><!-- #comment-## -->

                                    <% } %>

                                </ul>
                            </div>
                        </div>


                        <div class="comment-respond">
                            <div id="respond" class="comment-respond">
                                <h3 id="reply-title" class="comment-reply-title">Để Lại Bình Luận<small><a
                                            rel="nofollow" id="cancel-comment-reply-link" href="index.html#respond"
                                            style="display:none;">Cancel Reply</a></small></h3>
                                <form action="/comments" method="post" id="commentform" class="comment-form" novalidate>
                                    <p>Địa chỉ email của bạn sẽ không được công bố. <span class="required">*</span></p>
                                    <div class="row">
                                        <div class="col-lg-12 col-md-12 col-sm-12 comment-form-comment">
                                            <p>Bình luận *</p><textarea class="textarea-custom" id="message-box"
                                                name="content" cols="30" rows="10" aria-required="true"></textarea>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                            <p>Tên *</p><input id="author" class="form-control" name="name" type="text"
                                                value="" size="30" aria-required='true' />
                                        </div>
                                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                            <p>Email *</p><input id="email" name="email" type="text" value="" />
                                            <input id="id_post" name="id_post" type="text" value="<%= data.id %>"
                                                hidden />
                                        </div>

                                    </div>
                                    <p class="form-submit"><button type="submit" name="submit" id="submit"
                                            class="submit add-btn contact-btn">Đăng bình luận</button> <input
                                            type='hidden' name='comment_post_ID' value='29' id='comment_post_ID' />
                                        <input type='hidden' name='comment_parent' id='comment_parent' value='0' />
                                    </p>
                                </form>
                            </div><!-- #respond -->

                        </div>
                    </div><!-- .comments-area -->
                </div>
            </div>
            <!-- End main column -->
            <!-- Start single blog -->
            <div class="col-md-4 col-sm-4 col-xs-12">
                <div class="left-head-blog">
                    <div class="widget_search left-blog widget" id="search-4">

                        <form role="search" method="get" action="https://themepuller.com/cavalier/">
                            <div class="blog-search-option">
                                <input type="search" id="search-form-5f97ce1d6c04a" placeholder="Search..." value=""
                                    name="s">
                                <button class="button" type="submit"><i class="fa fa-search"></i></button>
                            </div>
                        </form>
                    </div>
                    <div class="widget_categories left-blog widget" id="categories-5">
                        <h4 class="title-aside">Thể Loại</h4>
                        <ul>
                            <li class="cat-item cat-item-8"><a href="../category/alverter-david/index.html">Alverter
                                    david</a>
                            </li>
                            <li class="cat-item cat-item-9"><a href="../category/daneres-fight/index.html">Daneres
                                    fight</a>
                            </li>
                            <li class="cat-item cat-item-4"><a href="../category/draogons-war/index.html">Draogons
                                    war</a>
                            </li>
                            <li class="cat-item cat-item-7"><a href="../category/ripple-fight/index.html">Ripple
                                    fight</a>
                            </li>
                            <li class="cat-item cat-item-6"><a href="../category/skyfall-challange/index.html">Skyfall
                                    challange</a>
                            </li>
                            <li class="cat-item cat-item-1"><a
                                    href="../category/uncategorized/index.html">Uncategorized</a>
                            </li>
                        </ul>

                    </div>
                    <div class="widget_cavalier_posts left-blog widget" id="cavalier_posts-3">
                        <h4 class="title-aside">Bài Viết Gần Đây</h4>
                        <div class="recent-post">

                            <div class="recent-single-post">
                                <div class="post-img">
                                    <a
                                        href="../cavalier-studios-has-been-creating-innovative-games-since-2003-4/index.html">
                                        <img width="1200" height="860"
                                            src="data:image/svg+xml,%3Csvg%20xmlns='http://www.w3.org/2000/svg'%20viewBox='0%200%201200%20860'%3E%3C/svg%3E"
                                            class="attachment-full size-full wp-post-image" alt="" loading="lazy"
                                            data-lazy-srcset="https://themepuller.com/cavalier/wp-content/uploads/2019/04/b1.jpg 1200w, https://themepuller.com/cavalier/wp-content/uploads/2019/04/b1-300x215.jpg 300w, https://themepuller.com/cavalier/wp-content/uploads/2019/04/b1-768x550.jpg 768w, https://themepuller.com/cavalier/wp-content/uploads/2019/04/b1-1024x734.jpg 1024w, https://themepuller.com/cavalier/wp-content/uploads/2019/04/b1-1033x740.jpg 1033w"
                                            data-lazy-sizes="(max-width: 1200px) 100vw, 1200px"
                                            data-lazy-src="../wp-content/uploads/2019/04/b1.jpg" /><noscript><img
                                                width="1200" height="860" src="../wp-content/uploads/2019/04/b1.jpg"
                                                class="attachment-full size-full wp-post-image" alt="" loading="lazy"
                                                srcset="https://themepuller.com/cavalier/wp-content/uploads/2019/04/b1.jpg 1200w, https://themepuller.com/cavalier/wp-content/uploads/2019/04/b1-300x215.jpg 300w, https://themepuller.com/cavalier/wp-content/uploads/2019/04/b1-768x550.jpg 768w, https://themepuller.com/cavalier/wp-content/uploads/2019/04/b1-1024x734.jpg 1024w, https://themepuller.com/cavalier/wp-content/uploads/2019/04/b1-1033x740.jpg 1033w"
                                                sizes="(max-width: 1200px) 100vw, 1200px" /></noscript> </a>
                                </div>
                                <div class="pst-content">
                                    <p><a
                                            href="../cavalier-studios-has-been-creating-innovative-games-since-2003-4/index.html">We
                                            are creating innovative games since 2003</a></p>
                                    <span class="date-type">
                                        27 Oct / 2020 </span>
                                </div>
                            </div>

                            <div class="recent-single-post">
                                <div class="post-img">
                                    <a
                                        href="../cavalier-studios-has-been-creating-innovative-games-since-2003-3/index.html">
                                        <img width="1200" height="860"
                                            src="data:image/svg+xml,%3Csvg%20xmlns='http://www.w3.org/2000/svg'%20viewBox='0%200%201200%20860'%3E%3C/svg%3E"
                                            class="attachment-full size-full wp-post-image" alt="" loading="lazy"
                                            data-lazy-srcset="https://themepuller.com/cavalier/wp-content/uploads/2019/02/b2-1.jpg 1200w, https://themepuller.com/cavalier/wp-content/uploads/2019/02/b2-1-300x215.jpg 300w, https://themepuller.com/cavalier/wp-content/uploads/2019/02/b2-1-768x550.jpg 768w, https://themepuller.com/cavalier/wp-content/uploads/2019/02/b2-1-1024x734.jpg 1024w, https://themepuller.com/cavalier/wp-content/uploads/2019/02/b2-1-1033x740.jpg 1033w"
                                            data-lazy-sizes="(max-width: 1200px) 100vw, 1200px"
                                            data-lazy-src="../wp-content/uploads/2019/02/b2-1.jpg" /><noscript><img
                                                width="1200" height="860" src="../wp-content/uploads/2019/02/b2-1.jpg"
                                                class="attachment-full size-full wp-post-image" alt="" loading="lazy"
                                                srcset="https://themepuller.com/cavalier/wp-content/uploads/2019/02/b2-1.jpg 1200w, https://themepuller.com/cavalier/wp-content/uploads/2019/02/b2-1-300x215.jpg 300w, https://themepuller.com/cavalier/wp-content/uploads/2019/02/b2-1-768x550.jpg 768w, https://themepuller.com/cavalier/wp-content/uploads/2019/02/b2-1-1024x734.jpg 1024w, https://themepuller.com/cavalier/wp-content/uploads/2019/02/b2-1-1033x740.jpg 1033w"
                                                sizes="(max-width: 1200px) 100vw, 1200px" /></noscript> </a>
                                </div>
                                <div class="pst-content">
                                    <p><a
                                            href="../cavalier-studios-has-been-creating-innovative-games-since-2003-3/index.html">We
                                            offer our clients for enjoy play games.</a></p>
                                    <span class="date-type">
                                        27 Oct / 2020 </span>
                                </div>
                            </div>

                            <div class="recent-single-post">
                                <div class="post-img">
                                    <a href="../we-offer-our-clients-professional-development-services/index.html">
                                        <img width="1200" height="860"
                                            src="data:image/svg+xml,%3Csvg%20xmlns='http://www.w3.org/2000/svg'%20viewBox='0%200%201200%20860'%3E%3C/svg%3E"
                                            class="attachment-full size-full wp-post-image" alt="" loading="lazy"
                                            data-lazy-srcset="https://themepuller.com/cavalier/wp-content/uploads/2019/02/b3-1.jpg 1200w, https://themepuller.com/cavalier/wp-content/uploads/2019/02/b3-1-300x215.jpg 300w, https://themepuller.com/cavalier/wp-content/uploads/2019/02/b3-1-768x550.jpg 768w, https://themepuller.com/cavalier/wp-content/uploads/2019/02/b3-1-1024x734.jpg 1024w, https://themepuller.com/cavalier/wp-content/uploads/2019/02/b3-1-1033x740.jpg 1033w"
                                            data-lazy-sizes="(max-width: 1200px) 100vw, 1200px"
                                            data-lazy-src="../wp-content/uploads/2019/02/b3-1.jpg" /><noscript><img
                                                width="1200" height="860" src="../wp-content/uploads/2019/02/b3-1.jpg"
                                                class="attachment-full size-full wp-post-image" alt="" loading="lazy"
                                                srcset="https://themepuller.com/cavalier/wp-content/uploads/2019/02/b3-1.jpg 1200w, https://themepuller.com/cavalier/wp-content/uploads/2019/02/b3-1-300x215.jpg 300w, https://themepuller.com/cavalier/wp-content/uploads/2019/02/b3-1-768x550.jpg 768w, https://themepuller.com/cavalier/wp-content/uploads/2019/02/b3-1-1024x734.jpg 1024w, https://themepuller.com/cavalier/wp-content/uploads/2019/02/b3-1-1033x740.jpg 1033w"
                                                sizes="(max-width: 1200px) 100vw, 1200px" /></noscript> </a>
                                </div>
                                <div class="pst-content">
                                    <p><a href="../we-offer-our-clients-professional-development-services/index.html">Join
                                            our studion for play game and enjoy your life</a></p>
                                    <span class="date-type">
                                        27 Oct / 2020 </span>
                                </div>
                            </div>

                            <div class="recent-single-post">
                                <div class="post-img">
                                    <a
                                        href="../cavalier-studios-has-been-creating-innovative-games-since-2003-2/index.html">
                                        <img width="1200" height="860"
                                            src="data:image/svg+xml,%3Csvg%20xmlns='http://www.w3.org/2000/svg'%20viewBox='0%200%201200%20860'%3E%3C/svg%3E"
                                            class="attachment-full size-full wp-post-image" alt="" loading="lazy"
                                            data-lazy-srcset="https://themepuller.com/cavalier/wp-content/uploads/2019/02/b4.jpg 1200w, https://themepuller.com/cavalier/wp-content/uploads/2019/02/b4-300x215.jpg 300w, https://themepuller.com/cavalier/wp-content/uploads/2019/02/b4-768x550.jpg 768w, https://themepuller.com/cavalier/wp-content/uploads/2019/02/b4-1024x734.jpg 1024w, https://themepuller.com/cavalier/wp-content/uploads/2019/02/b4-1033x740.jpg 1033w"
                                            data-lazy-sizes="(max-width: 1200px) 100vw, 1200px"
                                            data-lazy-src="../wp-content/uploads/2019/02/b4.jpg" /><noscript><img
                                                width="1200" height="860" src="../wp-content/uploads/2019/02/b4.jpg"
                                                class="attachment-full size-full wp-post-image" alt="" loading="lazy"
                                                srcset="https://themepuller.com/cavalier/wp-content/uploads/2019/02/b4.jpg 1200w, https://themepuller.com/cavalier/wp-content/uploads/2019/02/b4-300x215.jpg 300w, https://themepuller.com/cavalier/wp-content/uploads/2019/02/b4-768x550.jpg 768w, https://themepuller.com/cavalier/wp-content/uploads/2019/02/b4-1024x734.jpg 1024w, https://themepuller.com/cavalier/wp-content/uploads/2019/02/b4-1033x740.jpg 1033w"
                                                sizes="(max-width: 1200px) 100vw, 1200px" /></noscript> </a>
                                </div>
                                <div class="pst-content">
                                    <p><a
                                            href="../cavalier-studios-has-been-creating-innovative-games-since-2003-2/index.html">We
                                            are creating innovative games since 2003</a></p>
                                    <span class="date-type">
                                        27 Oct / 2020 </span>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
            <!-- End single blog -->
        </div>
        <!-- End row -->
    </div>
</div>
<!--End of Blog Area-->