<!--Page Area Start-->
<div class="page-section">
    <div class="container">
        <div id="post-168" class="post-168 page type-page status-publish has-post-thumbnail hentry">
            <!-- Block -->
            <div class="offset-sm">
                <div data-vc-full-width="true" data-vc-full-width-init="false"
                    class="vc_row wpb_row vc_row-fluid contact-area bg-color-2 page-padding">
                    <div class="wpb_column vc_column_container vc_col-sm-12">
                        <div class="vc_column-inner">
                            <div class="wpb_wrapper">
                                <div class="vc_row wpb_row vc_inner vc_row-fluid">
                                    <div class="wpb_column vc_column_container vc_col-sm-12">
                                        <div class="vc_column-inner">
                                            <div class="wpb_wrapper">
                                                <div class="row ">
                                                    <div class="contact-inner">
                                                        <!-- Start contact icon column -->
                                                        <div class="col-md-4 col-sm-4 col-xs-12">
                                                            <div class="contact-icon text-center">
                                                                <div class="single-icon">
                                                                    <i class="fa fa-mobile"></i>
                                                                    <p>
                                                                        Điện Thoại : <a
                                                                            href="tel:+84396895733">0396895733</a><br />
                                                                        Thứ 2- Thứ 6 (10am-18pm) </p>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <!-- Start contact icon column -->
                                                        <div class="col-md-4 col-sm-4 col-xs-12">
                                                            <div class="contact-icon text-center">
                                                                <div class="single-icon">
                                                                    <i class="fa fa-envelope-o"></i>
                                                                    <p>
                                                                        Email : cavalr32@gmail.com<br />
                                                                        Web: www.NguyenLong.com </p>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <!-- Start contact icon column -->
                                                        <div class="col-md-4 col-sm-4 col-xs-12">
                                                            <div class="contact-icon text-center">
                                                                <div class="single-icon">
                                                                    <i class="fa fa-map-marker"></i>
                                                                    <p>
                                                                        Địa chỉ : N1A<br />
                                                                        Trung Hòa ,Thanh Xuân, Hà Nội</p>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>

                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="vc_row wpb_row vc_inner vc_row-fluid">
                                    <div class="wpb_column vc_column_container vc_col-sm-6">
                                        <div class="vc_column-inner">
                                            <div class="wpb_wrapper">
                                                <div class="wpb_gmaps_widget wpb_content_element">
                                                    <div class="wpb_wrapper">
                                                        <div class="wpb_map_wraper"><iframe width="600" height="380"
                                                                id="gmap_canvas"
                                                                src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d24249.464242055266!2d105.799441!3d21.00395!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3135aca47ecdc0db%3A0x12400c82d5b5ddf1!2zTjFBIC0gTjFCLCBOaMOibiBDaMOtbmgsIFRoYW5oIFh1w6JuLCBIw6AgTuG7mWksIFZpZXRuYW0!5e1!3m2!1sen!2sus!4v1606146146565!5m2!1sen!2sus"
                                                                frameborder="0" scrolling="no" marginheight="0"
                                                                marginwidth="0"></iframe></div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="wpb_column vc_column_container vc_col-sm-6">
                                        <div class="vc_column-inner">
                                            <div class="wpb_wrapper">
                                                <div role="form" class="wpcf7" id="wpcf7-f170-p168-o1" lang="en-US"
                                                    dir="ltr">
                                                    <div class="screen-reader-response" role="alert" aria-live="polite">
                                                    </div>
                                                    <form action="" method="post" class="wpcf7-form init"
                                                        novalidate="novalidate">
                                                        <div style="display: none;">
                                                            <input type="hidden" name="_wpcf7" value="170" />
                                                            <input type="hidden" name="_wpcf7_version" value="5.2.2" />
                                                            <input type="hidden" name="_wpcf7_locale" value="en_US" />
                                                            <input type="hidden" name="_wpcf7_unit_tag"
                                                                value="wpcf7-f170-p168-o1" />
                                                            <input type="hidden" name="_wpcf7_container_post"
                                                                value="168" />
                                                            <input type="hidden" name="_wpcf7_posted_data_hash"
                                                                value="" />
                                                        </div>
                                                        <div class="contact-form">
                                                            <div class="row">
                                                                <div class="wpcf7-response-output" role="alert"
                                                                    aria-hidden="true"></div>
                                                                <div class="col-md-6 col-sm-6 col-xs-12">
                                                                    <span
                                                                        class="wpcf7-form-control-wrap your-name"><input
                                                                            type="text" name="your-name" value=""
                                                                            size="40"
                                                                            class="wpcf7-form-control wpcf7-text wpcf7-validates-as-required form-control"
                                                                            aria-required="true" aria-invalid="false"
                                                                            placeholder="Họ và Tên" /></span>
                                                                </div>
                                                                <div class="col-md-6 col-sm-6 col-xs-12">
                                                                    <span
                                                                        class="wpcf7-form-control-wrap your-email"><input
                                                                            type="email" name="your-email" value=""
                                                                            size="40"
                                                                            class="wpcf7-form-control wpcf7-text wpcf7-email wpcf7-validates-as-required wpcf7-validates-as-email form-control"
                                                                            aria-required="true" aria-invalid="false"
                                                                            placeholder="Email" /></span>
                                                                </div>
                                                                <div class="col-md-12 col-sm-12 col-xs-12">
                                                                    <span
                                                                        class="wpcf7-form-control-wrap your-subject"><input
                                                                            type="text" name="your-subject" value=""
                                                                            size="40"
                                                                            class="wpcf7-form-control wpcf7-text form-control"
                                                                            aria-invalid="false"
                                                                            placeholder="Tiêu đề" /></span>
                                                                </div>
                                                                <div class="col-md-12 col-sm-12 col-xs-12">
                                                                    <span
                                                                        class="wpcf7-form-control-wrap your-message"><textarea
                                                                            name="your-message" cols="40" rows="7"
                                                                            class="wpcf7-form-control wpcf7-textarea form-control"
                                                                            id="message" aria-invalid="false"
                                                                            placeholder="Nội Dung"></textarea></span>
                                                                    </p>
                                                                    <div class="help-block with-errors"></div>
                                                                </div>
                                                                <div class="col-md-12 col-sm-12 col-xs-12 text-center">
                                                                    <button type="submit" id="submit"
                                                                        class="wpcf7-form-control wpcf7-submit add-btn contact-btn">Gửi</button>
                                                                    </p>
                                                                    <div class="clearfix"></div>
                                                                </div>
                                                            </div>
                                                        </div>

                                                    </form>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="vc_row-full-width vc_clearfix"></div>
            </div>
            <!-- //Block -->
        </div>
    </div>
</div>
<!--End of Page Area-->