<div class="game-details-page bg-color-2 page-padding" style="padding: 130px 0px 100px;">
    <div class="container">


        <div class="row">
            <div class="col-md-6 col-sm-6 col-xs-12">
                <div class="single-page">
                    <div class="page-img">
                        <img width="1000" height="700"
                            src="data:image/svg+xml,%3Csvg%20xmlns='http://www.w3.org/2000/svg'%20viewBox='0%200%201000%20700'%3E%3C/svg%3E"
                            class="attachment-full size-full wp-post-image" alt="" loading="lazy"
                            data-lazy-srcset="<%= data.image %>  1000w, <%= data.image %> 300w, <%= data.image %> 768w"
                            data-lazy-sizes="(max-width: 1000px) 100vw, 1000px"
                            data-lazy-src="<%= data.image %>" /><noscript><img width="1000" height="700"
                                src="<%= data.image %>" class="attachment-full size-full wp-post-image" alt=""
                                loading="lazy"
                                srcset="<%= data.image %> 1000w, <%= data.image %> 300w, <%= data.image %> 768w"
                                sizes="(max-width: 1000px) 100vw, 1000px" /></noscript> </div>
                </div>
            </div>
            <div class="col-md-6 col-sm-6 col-xs-12">
                <div class="product-content text-left">
                    <h4 class="product-name"><%= data.name %></h4>
                    <div class="launch-date">
                        <span>Launch: February 2019</span>
                    </div>
                    <div class="price-box">
                        <span class="price">Price: <%= data.price %></span>
                    </div>

                    <p><%= data.description %>.</p>
                    <div class="download-btn">

                        <span class="play-btn left-btn"><a href="#"><img
                                    src="data:image/svg+xml,%3Csvg%20xmlns='http://www.w3.org/2000/svg'%20viewBox='0%200%200%200'%3E%3C/svg%3E"
                                    alt="Google Play"
                                    data-lazy-src="../../wp-content/themes/cavalier/assets/images/icon/gplay.png"><noscript><img
                                        src="../../wp-content/themes/cavalier/assets/images/icon/gplay.png"
                                        alt="Google Play"></noscript></a></span>
                        <span class="play-btn right-btn"><a href="#"><img
                                    src="data:image/svg+xml,%3Csvg%20xmlns='http://www.w3.org/2000/svg'%20viewBox='0%200%200%200'%3E%3C/svg%3E"
                                    alt="Apple Play"
                                    data-lazy-src="../../wp-content/themes/cavalier/assets/images/icon/aplay.png"><noscript><img
                                        src="../../wp-content/themes/cavalier/assets/images/icon/aplay.png"
                                        alt="Apple Play"></noscript></a></span>
                        <span class="play-btn right-btn"><a href="<%= data.url %>"><img
                                    src="data:image/svg+xml,%3Csvg%20xmlns='http://www.w3.org/2000/svg'%20viewBox='0%200%200%200'%3E%3C/svg%3E"
                                    alt="Apple Play"
                                    data-lazy-src="../../wp-content/themes/cavalier/assets/images/icon/playnow.png"><noscript><img
                                        src="../../wp-content/themes/cavalier/assets/images/icon/playnow.png"
                                        alt="Apple Play"></noscript></a></span>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>