<div class="page-section">
    <div class="container">


        <div class="containerimg pt-5 ">

            <% for(var i=0; i<data.length; i++) { %>

            <div class="box">
                <img src="<%= data[i].image %> ">
            </div>

            <% } %>

        </div>
    </div>
</div>
<!--End of Page Area-->