<div class="page-section" style="padding-top: 200px;">
    <div class="container">

        <div class="offset-sm">

            <div class="wpb_column vc_column_container vc_col-sm-12">
                <div class="vc_column-inner">
                    <div class="wpb_wrapper">
                        
                        <% for(var i=0; i<results.length; i++) { %>
                        <%if ([i]%2 ==0) { %>
                        <!-- Start single product -->
                        <div class="single-product row ">
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                <div class="product">
                                    <div class="product-img">
                                        <span class="category"><%= results[i].category %></span>
                                        <img style="max-height: 400px;" class="first-img"
                                            src="data:image/svg+xml,%3Csvg%20xmlns='http://www.w3.org/2000/svg'%20viewBox='0%200%200%200'%3E%3C/svg%3E"
                                            alt="" data-lazy-src="<%= results[i].image %>"><noscript><img
                                                class="first-img" src="<%= results[i].image %>" alt=""></noscript>
                                        <a href="<%= results[i].url %>" value="Click" class="video-play vid-zone">
                                            <i class="fa fa-play"></i>
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <!-- Start product content -->
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                <div class="product-content text-center">
                                    <h4 class="product-name">
                                        <a href="#"><%= results[i].name %></a>
                                    </h4>
                                    <div class="launch-date">
                                        <span>Launch: June 2016</span>
                                    </div>
                                    <div class="price-box">
                                        <span class="price">Price: <%= results[i].price %></span>
                                    </div>
                                    <div class="pro-rating no-rating rating-no4">
                                        <span class="rating-rate">Rating: 4.0</span>
                                        <a href="#"><i class="fa fa-star-o"></i></a>
                                        <a href="#"><i class="fa fa-star-o"></i></a>
                                        <a href="#"><i class="fa fa-star-o"></i></a>
                                        <a href="#"><i class="fa fa-star-o"></i></a>
                                        <a href="#"><i class="fa fa-star-o"></i></a>
                                    </div>
                                    <div class="download-btn">
                                        <span class="play-btn left-btn"><a href="#"><img
                                                    src="data:image/svg+xml,%3Csvg%20xmlns='http://www.w3.org/2000/svg'%20viewBox='0%200%200%200'%3E%3C/svg%3E"
                                                    alt="image"
                                                    data-lazy-src="wp-content/themes/cavalier/assets/images/icon/gplay.png"><noscript><img
                                                        src="wp-content/themes/cavalier/assets/images/icon/gplay.png"
                                                        alt="image"></noscript></a></span>
                                        <span class="play-btn right-btn"><a href="#"><img
                                                    src="data:image/svg+xml,%3Csvg%20xmlns='http://www.w3.org/2000/svg'%20viewBox='0%200%200%200'%3E%3C/svg%3E"
                                                    alt="image"
                                                    data-lazy-src="wp-content/themes/cavalier/assets/images/icon/aplay.png"><noscript><img
                                                        src="wp-content/themes/cavalier/assets/images/icon/aplay.png"
                                                        alt="image"></noscript></a></span>
                                    </div>
                                </div>
                            </div>
                            <!-- End product content -->
                        </div>
                        <!-- End single product -->

                        <% } else { %>
                        <!-- Start single product -->
                        <div class="single-product row row-revert-xs">
                            <!-- Start product content -->
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                <div class="product-content text-center">
                                    <h4 class="product-name">
                                        <a href="#"><%= results[i].name %></a>
                                    </h4>
                                    <div class="launch-date">
                                        <span>Launch: June 2016</span>
                                    </div>
                                    <div class="price-box">
                                        <span class="price">Price: <%= results[i].price %></span>
                                    </div>
                                    <div class="pro-rating no-rating rating-no3">
                                        <span class="rating-rate">Rating: 3.0</span>
                                        <a href="#"><i class="fa fa-star-o"></i></a>
                                        <a href="#"><i class="fa fa-star-o"></i></a>
                                        <a href="#"><i class="fa fa-star-o"></i></a>
                                        <a href="#"><i class="fa fa-star-o"></i></a>
                                        <a href="#"><i class="fa fa-star-o"></i></a>
                                    </div>
                                    <div class="download-btn">
                                        <span class="play-btn left-btn"><a href="#"><img
                                                    src="data:image/svg+xml,%3Csvg%20xmlns='http://www.w3.org/2000/svg'%20viewBox='0%200%200%200'%3E%3C/svg%3E"
                                                    alt="image"
                                                    data-lazy-src="wp-content/themes/cavalier/assets/images/icon/gplay.png"><noscript><img
                                                        src="wp-content/themes/cavalier/assets/images/icon/gplay.png"
                                                        alt="image"></noscript></a></span>
                                        <span class="play-btn right-btn"><a href="#"><img
                                                    src="data:image/svg+xml,%3Csvg%20xmlns='http://www.w3.org/2000/svg'%20viewBox='0%200%200%200'%3E%3C/svg%3E"
                                                    alt="image"
                                                    data-lazy-src="wp-content/themes/cavalier/assets/images/icon/aplay.png"><noscript><img
                                                        src="wp-content/themes/cavalier/assets/images/icon/aplay.png"
                                                        alt="image"></noscript></a></span>
                                    </div>
                                </div>
                            </div>
                            <!-- End product content -->
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                <div class="product">
                                    <div class="product-img">
                                        <span class="category"><%= results[i].category %></span>
                                        <img class="first-img"
                                            src="data:image/svg+xml,%3Csvg%20xmlns='http://www.w3.org/2000/svg'%20viewBox='0%200%200%200'%3E%3C/svg%3E"
                                            alt="" data-lazy-src="<%= results[i].image %>"><noscript><img
                                                class="first-img" src="<%= results[i].image %>"
                                                alt=""></noscript>
                                        <a href="<%= results[i].url %>" class="video-play vid-zone">
                                            <i class="fa fa-play"></i>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- End single product -->

                        <% } %>




                        <% } %>


                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>