<div class="page-section">
    <div class="container">
        <div id="post-42" class="post-42 page type-page status-publish hentry">
            <!-- Block -->
            <div class="offset-sm">
                <div data-vc-full-width="true" data-vc-full-width-init="false" data-vc-stretch-content="true"
                    class="vc_row wpb_row vc_row-fluid vc_row-no-padding">
                    <div class="wpb_column vc_column_container vc_col-sm-12">
                        <div class="vc_column-inner">
                            <div class="wpb_wrapper">
                                <!-- Start Slider Area -->
                                <div class="intro-area ">
                                    <div class="main-overly"></div>
                                    <div class="intro-carousel">
                                        <div class="intro-content">
                                            <div class="slider-images">
                                                <img src="data:image/svg+xml,%3Csvg%20xmlns='http://www.w3.org/2000/svg'%20viewBox='0%200%200%200'%3E%3C/svg%3E"
                                                    alt="image"
                                                    data-lazy-src="wp-content/uploads/2019/02/s1.jpg"><noscript><img
                                                        src="wp-content/uploads/2019/02/s1.jpg" alt="image"></noscript>
                                            </div>
                                            <div class="slider-content">
                                                <div class="container">
                                                    <div class="row">
                                                        <div class="col-md-12 text-center">
                                                            <!-- layer 1 -->
                                                            <div class="layer-1-2">
                                                                <h1 class="title2">Chào mừng bạn đã đến với chúng tôi
                                                                </h1>
                                                            </div>
                                                            <div class="layer-1-1 hidden-xs">
                                                                <p>Chúng tôi cung cấp và phát triển cho khách hàng một
                                                                    cách tốt nhất.</p>
                                                            </div>
                                                            <!-- layer 3 -->
                                                            <div class="layer-1-3">
                                                                <a href="#" class="ready-btn">Xem thêm</a>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="intro-content">
                                            <div class="slider-images">
                                                <img src="data:image/svg+xml,%3Csvg%20xmlns='http://www.w3.org/2000/svg'%20viewBox='0%200%200%200'%3E%3C/svg%3E"
                                                    alt="image"
                                                    data-lazy-src="wp-content/uploads/2019/02/s2.jpg"><noscript><img
                                                        src="wp-content/uploads/2019/02/s2.jpg" alt="image"></noscript>
                                            </div>
                                            <div class="slider-content">
                                                <div class="container">
                                                    <div class="row">
                                                        <div class="col-md-12 text-center">
                                                            <!-- layer 1 -->
                                                            <div class="layer-1-2">
                                                                <h1 class="title2">Chúng tôi đã sẵn sàng thử thách tiếp
                                                                    theo của bạn.
                                                                </h1>
                                                            </div>
                                                            <div class="layer-1-1 hidden-xs">
                                                                <p>Chúng tôi cung cấp và phát triển cho khách hàng một
                                                                    cách tốt nhất.</p>
                                                            </div>
                                                            <!-- layer 3 -->
                                                            <div class="layer-1-3">
                                                                <a href="#" class="ready-btn">Xem thêm</a>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- End Slider Area -->
                            </div>
                        </div>
                    </div>
                </div>
                <div class="vc_row-full-width vc_clearfix"></div>
                <div data-vc-full-width="true" data-vc-full-width-init="false"
                    class="vc_row wpb_row vc_row-fluid services-area bg-color-2 area-padding">
                    <div class="wpb_column vc_column_container vc_col-sm-12">
                        <div class="vc_column-inner">
                            <div class="wpb_wrapper">
                                <div class="row">
                                    <div class="services-carousel ">
                                        <% for(var i=0; i<results.length; i++) { %>
                                        <div class="col-md-4 col-sm-4 col-xs-12">
                                            <div class="single-services text-center">
                                                <div class="services-img">
                                                    <img id="carousel"
                                                        src="data:image/svg+xml,%3Csvg%20xmlns='http://www.w3.org/2000/svg'%20viewBox='0%200%200%200'%3E%3C/svg%3E"
                                                        alt="" data-lazy-src="<%= results[i].image %>"><noscript><img
                                                            src="<%= results[i].image %>" alt=""></noscript>

                                                </div>
                                                <div class="main-services">
                                                    <div class="service-content">
                                                        <h4 style="color:#100E2E;"> <%=  results[i].name %> </h4>
                                                        <p style="color:#100E2E;">Comming soon Feb 4, 2019</p>
                                                        <a style="color:#100E2E;"
                                                            href="/details/<%=  results[i].product_id %>"
                                                            class="service-btn">Xem
                                                            thêm</a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <% } %>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="vc_row-full-width vc_clearfix"></div>
                <div data-vc-full-width="true" data-vc-full-width-init="false"
                    class="vc_row wpb_row vc_row-fluid product-area bg-color-1 area-padding">
                    <div class="wpb_column vc_column_container vc_col-sm-12">
                        <div class="vc_column-inner">
                            <div class="wpb_wrapper">
                                <div class="wpb_text_column wpb_content_element  vc_custom_1556198231556">
                                    <div class="wpb_wrapper">
                                        <div class="section-headline white-headline text-center">
                                            <h3>Trờ chơi mới</h3>
                                            <p> Trải nghiệm về các trò chơi mới sắp phát hành (game offline, online)
                                                trên PC Console, mobile, VR, AR...
                                            </p>
                                        </div>

                                    </div>
                                </div>
                                <% for(var i=0; i< (results.length > 4 ? 4 : results.length); i++) { %>
                                <%if ([i]%2 ==0) { %>
                                <!-- Start single product -->
                                <div class="single-product row ">
                                    <div class="col-md-6 col-sm-6 col-xs-12">
                                        <div class="product">
                                            <div class="product-img">
                                                <span class="category"><%= results[i].category %></span>
                                                <img style="max-height: 400px;" class="first-img"
                                                    src="data:image/svg+xml,%3Csvg%20xmlns='http://www.w3.org/2000/svg'%20viewBox='0%200%200%200'%3E%3C/svg%3E"
                                                    alt="" data-lazy-src="<%= results[i].image %>"><noscript><img
                                                        class="first-img" src="<%= results[i].image %>"
                                                        alt=""></noscript>
                                                <a href="<%= results[i].url %>" target="_blank" value="Click"
                                                    class="video-play vid-zone">
                                                    <i class="fa fa-play"></i>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- Start product content -->
                                    <div class="col-md-6 col-sm-6 col-xs-12">
                                        <div class="product-content text-center">
                                            <h4 class="product-name">
                                                <a
                                                    href="/details/<%=  results[i].product_id %>"><%= results[i].name %></a>
                                            </h4>
                                            <div class="launch-date">
                                                <span>Launch: June 2016</span>
                                            </div>
                                            <div class="price-box">
                                                <span class="price">Price: <%= results[i].price %></span>
                                            </div>
                                            <div class="pro-rating no-rating rating-no4">
                                                <span class="rating-rate">Rating: 4.0</span>
                                                <a href="#"><i class="fa fa-star-o"></i></a>
                                                <a href="#"><i class="fa fa-star-o"></i></a>
                                                <a href="#"><i class="fa fa-star-o"></i></a>
                                                <a href="#"><i class="fa fa-star-o"></i></a>
                                                <a href="#"><i class="fa fa-star-o"></i></a>
                                            </div>
                                            <div class="download-btn">
                                                <span class="play-btn left-btn"><a href="#"><img
                                                            src="data:image/svg+xml,%3Csvg%20xmlns='http://www.w3.org/2000/svg'%20viewBox='0%200%200%200'%3E%3C/svg%3E"
                                                            alt="image"
                                                            data-lazy-src="wp-content/themes/cavalier/assets/images/icon/gplay.png"><noscript><img
                                                                src="wp-content/themes/cavalier/assets/images/icon/gplay.png"
                                                                alt="image"></noscript></a></span>
                                                <span class="play-btn right-btn"><a href="#"><img
                                                            src="data:image/svg+xml,%3Csvg%20xmlns='http://www.w3.org/2000/svg'%20viewBox='0%200%200%200'%3E%3C/svg%3E"
                                                            alt="image"
                                                            data-lazy-src="wp-content/themes/cavalier/assets/images/icon/aplay.png"><noscript><img
                                                                src="wp-content/themes/cavalier/assets/images/icon/aplay.png"
                                                                alt="image"></noscript></a></span>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- End product content -->
                                </div>
                                <!-- End single product -->

                                <% } else { %>
                                <!-- Start single product -->
                                <div class="single-product row row-revert-xs">
                                    <!-- Start product content -->
                                    <div class="col-md-6 col-sm-6 col-xs-12">
                                        <div class="product-content text-center">
                                            <h4 class="product-name">
                                                <a
                                                    href="/details/<%=  results[i].product_id %>"><%= results[i].name %></a>
                                            </h4>
                                            <div class="launch-date">
                                                <span>Launch: June 2016</span>
                                            </div>
                                            <div class="price-box">
                                                <span class="price">Price: <%= results[i].price %></span>
                                            </div>
                                            <div class="pro-rating no-rating rating-no3">
                                                <span class="rating-rate">Rating: 3.0</span>
                                                <a href="#"><i class="fa fa-star-o"></i></a>
                                                <a href="#"><i class="fa fa-star-o"></i></a>
                                                <a href="#"><i class="fa fa-star-o"></i></a>
                                                <a href="#"><i class="fa fa-star-o"></i></a>
                                                <a href="#"><i class="fa fa-star-o"></i></a>
                                            </div>
                                            <div class="download-btn">
                                                <span class="play-btn left-btn"><a href="#"><img
                                                            src="data:image/svg+xml,%3Csvg%20xmlns='http://www.w3.org/2000/svg'%20viewBox='0%200%200%200'%3E%3C/svg%3E"
                                                            alt="image"
                                                            data-lazy-src="wp-content/themes/cavalier/assets/images/icon/gplay.png"><noscript><img
                                                                src="wp-content/themes/cavalier/assets/images/icon/gplay.png"
                                                                alt="image"></noscript></a></span>
                                                <span class="play-btn right-btn"><a href="#"><img
                                                            src="data:image/svg+xml,%3Csvg%20xmlns='http://www.w3.org/2000/svg'%20viewBox='0%200%200%200'%3E%3C/svg%3E"
                                                            alt="image"
                                                            data-lazy-src="wp-content/themes/cavalier/assets/images/icon/aplay.png"><noscript><img
                                                                src="wp-content/themes/cavalier/assets/images/icon/aplay.png"
                                                                alt="image"></noscript></a></span>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- End product content -->
                                    <div class="col-md-6 col-sm-6 col-xs-12">
                                        <div class="product">
                                            <div class="product-img">
                                                <span class="category"><%= results[i].category %></span>
                                                <img class="first-img"
                                                    src="data:image/svg+xml,%3Csvg%20xmlns='http://www.w3.org/2000/svg'%20viewBox='0%200%200%200'%3E%3C/svg%3E"
                                                    alt="" data-lazy-src="<%= results[i].image %>"><noscript><img
                                                        class="first-img" src="wp-content/uploads/2019/10/p2.jpg"
                                                        alt=""></noscript>
                                                <a href="<%= results[i].url %>" target="_blank"
                                                    class="video-play vid-zone">
                                                    <i class="fa fa-play"></i>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- End single product -->

                                <% } %>
                                <% } %>


                            </div>
                        </div>
                    </div>
                </div>
                <div class="vc_row-full-width vc_clearfix"></div>
                <div data-vc-full-width="true" data-vc-full-width-init="false" data-vc-stretch-content="true"
                    class="vc_row wpb_row vc_row-fluid project-area bg-color-2 fix area-padding vc_row-no-padding">
                    <div class="wpb_column vc_column_container vc_col-sm-12">
                        <div class="vc_column-inner">
                            <div class="wpb_wrapper">
                                <div class="wpb_text_column wpb_content_element  vc_custom_1556198221755">
                                    <div class="wpb_wrapper">
                                        <div class="section-headline white-headline text-center">
                                            <h3>Bộ sưu tập</h3>
                                            <p>Chúng ta sẽ cùng đến với một số bộ sưu tập game và trang web.
                                            </p>
                                        </div>

                                    </div>
                                </div>
                                <div class="row">
                                    <div class="awesome-project fix">
                                        <div class="col-md-12 col-sm-12 col-xs-12">
                                            <div class="awesome-menu text-center">
                                                <ul class="project-menu">
                                                    <li><a href="#" class="active" data-filter="*">All</a></li>
                                                    <% for(var i=0; i<types.length; i++) { %>

                                                    <li><a href="#"
                                                            data-filter=".<%= types[i].name %> "><%= types[i].name %></a>
                                                    </li>

                                                    <% } %>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="project-content">
                                        <% for(var i=0; i<results.length; i++) { %>

                                        <!-- single-awesome-project start -->
                                        <div class="project-single <%= results[i].category %>">
                                            <div class="single-awesome-project">
                                                <div class="awesome-img">
                                                    <a class="venobox" data-gall="myGallery"
                                                        href="<%= results[i].image %>">
                                                        <img style=" max-width: 400px;
                                                        min-height: 300px;"
                                                            src="data:image/svg+xml,%3Csvg%20xmlns='http://www.w3.org/2000/svg'%20viewBox='0%200%20700%20740'%3E%3C/svg%3E"
                                                            class="attachment-full size-full wp-post-image" alt=""
                                                            loading="lazy"
                                                            data-lazy-srcset="<%= results[i].image %> 700w, <%= results[i].image %> 284w"
                                                            data-lazy-sizes="(max-width: 700px) 100vw, 700px"
                                                            data-lazy-src="<%= results[i].image %>" /><noscript><img
                                                                width="700" height="740" src="<%= results[i].image %>"
                                                                class="attachment-full size-full wp-post-image" alt=""
                                                                loading="lazy"
                                                                srcset="<%= results[i].image %> 700w,  284w"
                                                                sizes="(max-width: 700px) 100vw, 700px" /></noscript>
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                        <!-- single-awesome-project end -->
                                        <% } %>

                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>


                <div class="vc_row-full-width vc_clearfix"></div>
                <div data-vc-full-width="true" data-vc-full-width-init="false"
                    class="vc_row wpb_row vc_row-fluid blog-area bg-color-1 area-padding">
                    <div class="wpb_column vc_column_container vc_col-sm-12">
                        <div class="vc_column-inner">
                            <div class="wpb_wrapper">
                                <div class="wpb_text_column wpb_content_element  vc_custom_1556198214557">
                                    <div class="wpb_wrapper">
                                        <div class="section-headline white-headline text-center">
                                            <h3>Tin Tức</h3>
                                            <p>Thông tin nhanh & mới nhất được cập nhật hàng giờ.
                                            </p>
                                        </div>

                                    </div>
                                </div>
                                <div class="vc_row wpb_row vc_inner vc_row-fluid vc_custom_1556198353217">
                                    <div class="wpb_column vc_column_container vc_col-sm-12 vc_col-lg-8 vc_col-md-8">
                                        <div class="vc_column-inner">
                                            <div class="wpb_wrapper">
                                                <div class="blog-right-column">
                                                    <div class="single-blog">
                                                        <div class="blog-image">
                                                            <a class="image-scale"
                                                                href="cavalier-studios-has-been-creating-innovative-games-since-2003-4/index.html">
                                                                <img width="1033" height="740"
                                                                    src="data:image/svg+xml,%3Csvg%20xmlns='http://www.w3.org/2000/svg'%20viewBox='0%200%201033%20740'%3E%3C/svg%3E"
                                                                    class="attachment-post-thumbnail size-post-thumbnail wp-post-image"
                                                                    alt="" loading="lazy"
                                                                    data-lazy-srcset="https://themepuller.com/cavalier/wp-content/uploads/2019/04/b1-1033x740.jpg 1033w, https://themepuller.com/cavalier/wp-content/uploads/2019/04/b1-300x215.jpg 300w, https://themepuller.com/cavalier/wp-content/uploads/2019/04/b1-768x550.jpg 768w, https://themepuller.com/cavalier/wp-content/uploads/2019/04/b1-1024x734.jpg 1024w, https://themepuller.com/cavalier/wp-content/uploads/2019/04/b1.jpg 1200w"
                                                                    data-lazy-sizes="(max-width: 1033px) 100vw, 1033px"
                                                                    data-lazy-src="wp-content/uploads/2019/04/b1-1033x740.jpg" /><noscript><img
                                                                        width="1033" height="740"
                                                                        src="wp-content/uploads/2019/04/b1-1033x740.jpg"
                                                                        class="attachment-post-thumbnail size-post-thumbnail wp-post-image"
                                                                        alt="" loading="lazy"
                                                                        srcset="https://themepuller.com/cavalier/wp-content/uploads/2019/04/b1-1033x740.jpg 1033w, https://themepuller.com/cavalier/wp-content/uploads/2019/04/b1-300x215.jpg 300w, https://themepuller.com/cavalier/wp-content/uploads/2019/04/b1-768x550.jpg 768w, https://themepuller.com/cavalier/wp-content/uploads/2019/04/b1-1024x734.jpg 1024w, https://themepuller.com/cavalier/wp-content/uploads/2019/04/b1.jpg 1200w"
                                                                        sizes="(max-width: 1033px) 100vw, 1033px" /></noscript>
                                                            </a>
                                                        </div>
                                                        <div class="blog-content">
                                                            <div class="blog-meta">
                                                                <span class="date-type">
                                                                    <i class="fa fa-clock-o"></i>
                                                                    April 26, 2019 </span>
                                                                <span class="comments-type"><i
                                                                        class="fa fa-comment-o"></i> 0
                                                                    Comments</span>
                                                            </div>
                                                            <a
                                                                href="cavalier-studios-has-been-creating-innovative-games-since-2003-4/index.html">
                                                                <h4>We are creating innovative games since 2003</h4>
                                                            </a>
                                                            <p>Cavalier is an engineering and general contracting
                                                                group that has gained. we are all time start playing
                                                                games.</p>
                                                        </div>
                                                    </div>
                                                    <div class="single-blog">
                                                        <div class="blog-image">
                                                            <a class="image-scale"
                                                                href="cavalier-studios-has-been-creating-innovative-games-since-2003-3/index.html">
                                                                <img width="1033" height="740"
                                                                    src="data:image/svg+xml,%3Csvg%20xmlns='http://www.w3.org/2000/svg'%20viewBox='0%200%201033%20740'%3E%3C/svg%3E"
                                                                    class="attachment-post-thumbnail size-post-thumbnail wp-post-image"
                                                                    alt="" loading="lazy"
                                                                    data-lazy-srcset="https://themepuller.com/cavalier/wp-content/uploads/2019/02/b2-1-1033x740.jpg 1033w, https://themepuller.com/cavalier/wp-content/uploads/2019/02/b2-1-300x215.jpg 300w, https://themepuller.com/cavalier/wp-content/uploads/2019/02/b2-1-768x550.jpg 768w, https://themepuller.com/cavalier/wp-content/uploads/2019/02/b2-1-1024x734.jpg 1024w, https://themepuller.com/cavalier/wp-content/uploads/2019/02/b2-1.jpg 1200w"
                                                                    data-lazy-sizes="(max-width: 1033px) 100vw, 1033px"
                                                                    data-lazy-src="wp-content/uploads/2019/02/b2-1-1033x740.jpg" /><noscript><img
                                                                        width="1033" height="740"
                                                                        src="wp-content/uploads/2019/02/b2-1-1033x740.jpg"
                                                                        class="attachment-post-thumbnail size-post-thumbnail wp-post-image"
                                                                        alt="" loading="lazy"
                                                                        srcset="https://themepuller.com/cavalier/wp-content/uploads/2019/02/b2-1-1033x740.jpg 1033w, https://themepuller.com/cavalier/wp-content/uploads/2019/02/b2-1-300x215.jpg 300w, https://themepuller.com/cavalier/wp-content/uploads/2019/02/b2-1-768x550.jpg 768w, https://themepuller.com/cavalier/wp-content/uploads/2019/02/b2-1-1024x734.jpg 1024w, https://themepuller.com/cavalier/wp-content/uploads/2019/02/b2-1.jpg 1200w"
                                                                        sizes="(max-width: 1033px) 100vw, 1033px" /></noscript>
                                                            </a>
                                                        </div>
                                                        <div class="blog-content">
                                                            <div class="blog-meta">
                                                                <span class="date-type">
                                                                    <i class="fa fa-clock-o"></i>
                                                                    February 3, 2019 </span>
                                                                <span class="comments-type"><i
                                                                        class="fa fa-comment-o"></i> 2
                                                                    Comments</span>
                                                            </div>
                                                            <a
                                                                href="cavalier-studios-has-been-creating-innovative-games-since-2003-3/index.html">
                                                                <h4>We offer our clients for enjoy play games.</h4>
                                                            </a>
                                                            <p>Cavalier is an engineering and general contracting
                                                                group that has gained. we are all time start playing
                                                                games.</p>
                                                        </div>
                                                    </div>
                                                    <div class="single-blog">
                                                        <div class="blog-image">
                                                            <a class="image-scale"
                                                                href="we-offer-our-clients-professional-development-services/index.html">
                                                                <img width="1033" height="740"
                                                                    src="data:image/svg+xml,%3Csvg%20xmlns='http://www.w3.org/2000/svg'%20viewBox='0%200%201033%20740'%3E%3C/svg%3E"
                                                                    class="attachment-post-thumbnail size-post-thumbnail wp-post-image"
                                                                    alt="" loading="lazy"
                                                                    data-lazy-srcset="https://themepuller.com/cavalier/wp-content/uploads/2019/02/b3-1-1033x740.jpg 1033w, https://themepuller.com/cavalier/wp-content/uploads/2019/02/b3-1-300x215.jpg 300w, https://themepuller.com/cavalier/wp-content/uploads/2019/02/b3-1-768x550.jpg 768w, https://themepuller.com/cavalier/wp-content/uploads/2019/02/b3-1-1024x734.jpg 1024w, https://themepuller.com/cavalier/wp-content/uploads/2019/02/b3-1.jpg 1200w"
                                                                    data-lazy-sizes="(max-width: 1033px) 100vw, 1033px"
                                                                    data-lazy-src="wp-content/uploads/2019/02/b3-1-1033x740.jpg" /><noscript><img
                                                                        width="1033" height="740"
                                                                        src="wp-content/uploads/2019/02/b3-1-1033x740.jpg"
                                                                        class="attachment-post-thumbnail size-post-thumbnail wp-post-image"
                                                                        alt="" loading="lazy"
                                                                        srcset="https://themepuller.com/cavalier/wp-content/uploads/2019/02/b3-1-1033x740.jpg 1033w, https://themepuller.com/cavalier/wp-content/uploads/2019/02/b3-1-300x215.jpg 300w, https://themepuller.com/cavalier/wp-content/uploads/2019/02/b3-1-768x550.jpg 768w, https://themepuller.com/cavalier/wp-content/uploads/2019/02/b3-1-1024x734.jpg 1024w, https://themepuller.com/cavalier/wp-content/uploads/2019/02/b3-1.jpg 1200w"
                                                                        sizes="(max-width: 1033px) 100vw, 1033px" /></noscript>
                                                            </a>
                                                        </div>
                                                        <div class="blog-content">
                                                            <div class="blog-meta">
                                                                <span class="date-type">
                                                                    <i class="fa fa-clock-o"></i>
                                                                    February 3, 2019 </span>
                                                                <span class="comments-type"><i
                                                                        class="fa fa-comment-o"></i> 1
                                                                    comment</span>
                                                            </div>
                                                            <a
                                                                href="we-offer-our-clients-professional-development-services/index.html">
                                                                <h4>Join our studion for play game and enjoy your
                                                                    life</h4>
                                                            </a>
                                                            <p>Cavalier is an engineering and general contracting
                                                                group that has gained. we are all time start playing
                                                                games.</p>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="wpb_column vc_column_container vc_col-sm-12 vc_col-lg-4 vc_col-md-4">
                                        <div class="vc_column-inner">
                                            <div class="wpb_wrapper">
                                                <div class="">
                                                    <div class="single-blog col-md-12 col-sm-6 col-xs-12">
                                                        <div class="blog-image">
                                                            <a class="image-scale"
                                                                href="cavalier-studios-has-been-creating-innovative-games-since-2003-4/index.html">
                                                                <img width="1033" height="740"
                                                                    src="data:image/svg+xml,%3Csvg%20xmlns='http://www.w3.org/2000/svg'%20viewBox='0%200%201033%20740'%3E%3C/svg%3E"
                                                                    class="attachment-post-thumbnail size-post-thumbnail wp-post-image"
                                                                    alt="" loading="lazy"
                                                                    data-lazy-srcset="https://themepuller.com/cavalier/wp-content/uploads/2019/04/b1-1033x740.jpg 1033w, https://themepuller.com/cavalier/wp-content/uploads/2019/04/b1-300x215.jpg 300w, https://themepuller.com/cavalier/wp-content/uploads/2019/04/b1-768x550.jpg 768w, https://themepuller.com/cavalier/wp-content/uploads/2019/04/b1-1024x734.jpg 1024w, https://themepuller.com/cavalier/wp-content/uploads/2019/04/b1.jpg 1200w"
                                                                    data-lazy-sizes="(max-width: 1033px) 100vw, 1033px"
                                                                    data-lazy-src="wp-content/uploads/2019/04/b1-1033x740.jpg" /><noscript><img
                                                                        width="1033" height="740"
                                                                        src="wp-content/uploads/2019/04/b1-1033x740.jpg"
                                                                        class="attachment-post-thumbnail size-post-thumbnail wp-post-image"
                                                                        alt="" loading="lazy"
                                                                        srcset="https://themepuller.com/cavalier/wp-content/uploads/2019/04/b1-1033x740.jpg 1033w, https://themepuller.com/cavalier/wp-content/uploads/2019/04/b1-300x215.jpg 300w, https://themepuller.com/cavalier/wp-content/uploads/2019/04/b1-768x550.jpg 768w, https://themepuller.com/cavalier/wp-content/uploads/2019/04/b1-1024x734.jpg 1024w, https://themepuller.com/cavalier/wp-content/uploads/2019/04/b1.jpg 1200w"
                                                                        sizes="(max-width: 1033px) 100vw, 1033px" /></noscript>
                                                            </a>
                                                        </div>
                                                        <div class="blog-content">
                                                            <div class="blog-meta">
                                                                <span class="date-type">
                                                                    <i class="fa fa-clock-o"></i>
                                                                    April 26, 2019 </span>
                                                                <span class="comments-type"><i
                                                                        class="fa fa-comment-o"></i> 0
                                                                    Comments</span>
                                                            </div>
                                                            <a
                                                                href="cavalier-studios-has-been-creating-innovative-games-since-2003-4/index.html">
                                                                <h4>We are creating innovative games since 2003</h4>
                                                            </a>
                                                        </div>
                                                    </div>
                                                    <div class="single-blog col-md-12 col-sm-6 col-xs-12">
                                                        <div class="blog-image">
                                                            <a class="image-scale"
                                                                href="cavalier-studios-has-been-creating-innovative-games-since-2003-3/index.html">
                                                                <img width="1033" height="740"
                                                                    src="data:image/svg+xml,%3Csvg%20xmlns='http://www.w3.org/2000/svg'%20viewBox='0%200%201033%20740'%3E%3C/svg%3E"
                                                                    class="attachment-post-thumbnail size-post-thumbnail wp-post-image"
                                                                    alt="" loading="lazy"
                                                                    data-lazy-srcset="https://themepuller.com/cavalier/wp-content/uploads/2019/02/b2-1-1033x740.jpg 1033w, https://themepuller.com/cavalier/wp-content/uploads/2019/02/b2-1-300x215.jpg 300w, https://themepuller.com/cavalier/wp-content/uploads/2019/02/b2-1-768x550.jpg 768w, https://themepuller.com/cavalier/wp-content/uploads/2019/02/b2-1-1024x734.jpg 1024w, https://themepuller.com/cavalier/wp-content/uploads/2019/02/b2-1.jpg 1200w"
                                                                    data-lazy-sizes="(max-width: 1033px) 100vw, 1033px"
                                                                    data-lazy-src="wp-content/uploads/2019/02/b2-1-1033x740.jpg" /><noscript><img
                                                                        width="1033" height="740"
                                                                        src="wp-content/uploads/2019/02/b2-1-1033x740.jpg"
                                                                        class="attachment-post-thumbnail size-post-thumbnail wp-post-image"
                                                                        alt="" loading="lazy"
                                                                        srcset="https://themepuller.com/cavalier/wp-content/uploads/2019/02/b2-1-1033x740.jpg 1033w, https://themepuller.com/cavalier/wp-content/uploads/2019/02/b2-1-300x215.jpg 300w, https://themepuller.com/cavalier/wp-content/uploads/2019/02/b2-1-768x550.jpg 768w, https://themepuller.com/cavalier/wp-content/uploads/2019/02/b2-1-1024x734.jpg 1024w, https://themepuller.com/cavalier/wp-content/uploads/2019/02/b2-1.jpg 1200w"
                                                                        sizes="(max-width: 1033px) 100vw, 1033px" /></noscript>
                                                            </a>
                                                        </div>
                                                        <div class="blog-content">
                                                            <div class="blog-meta">
                                                                <span class="date-type">
                                                                    <i class="fa fa-clock-o"></i>
                                                                    February 3, 2019 </span>
                                                                <span class="comments-type"><i
                                                                        class="fa fa-comment-o"></i> 2
                                                                    Comments</span>
                                                            </div>
                                                            <a
                                                                href="cavalier-studios-has-been-creating-innovative-games-since-2003-3/index.html">
                                                                <h4>We offer our clients for enjoy play games.</h4>
                                                            </a>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="vc_row-full-width vc_clearfix"></div>
                <div data-vc-full-width="true" data-vc-full-width-init="false"
                    class="vc_row wpb_row vc_row-fluid reviews-area bg-color-1 area-padding">
                    <div class="wpb_column vc_column_container vc_col-sm-12">
                        <div class="vc_column-inner">
                            <div class="wpb_wrapper">
                                <div class="wpb_text_column wpb_content_element  vc_custom_1556198173795">
                                    <div class="wpb_wrapper">
                                        <div class="section-headline white-headline text-center">
                                            <h3>Về Chúng Tôi</h3>
                                            <p>Chúng tôi là những chuyên gia luôn chăm chỉ làm việc . Chúng tôi loại bỏ
                                                những điều không cần thiết và chọn lọc ra những gì quan trọng.
                                                Chúng tôi đã trợ giúp được nhiều khách hàng và đã học cách nhìn nhận ra
                                                mọi vấn đề của thế giới bên ngoài.
                                            </p>
                                        </div>

                                    </div>
                                </div>
                                <div class="Reviews-content ">
                                    <div class="testimonial-carousel item-indicator">


                                        <div class="single-testi">
                                            <div class="testi-img ">
                                                <img src="data:image/svg+xml,%3Csvg%20xmlns='http://www.w3.org/2000/svg'%20viewBox='0%200%200%200'%3E%3C/svg%3E"
                                                    alt="Image"
                                                    data-lazy-src="wp-content/uploads/2019/02/1-1.jpg"><noscript><img
                                                        src="wp-content/uploads/2019/02/1-1.jpg" alt="Image"></noscript>
                                            </div>
                                            <div class="testi-text">
                                                <p>Có tầm nhìn khái quát vấn đề, có khả năng sử dụng nhiều hệ thống khác
                                                    nhau, nhiều ngôn ngữ lập trình, phối hợp chúng với nhau để giải
                                                    quyết vấn đề. Ngoài ra, cũng cần có những đức tính, khả năng sau:
                                                    Cẩn thận, tỉ mỉ
                                                    Khả năng làm việc độc lập hoặc làm việc theo nhóm
                                                    Khả năng sáng tạo và tư duy logic
                                                    Tinh thần tự tìm tòi, học hỏi
                                                </p>
                                                <h4>Nguyên Long</h4>
                                                <span class="guest-rev">Developer</span>
                                            </div>
                                        </div>




                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="vc_row-full-width vc_clearfix"></div>
            </div>
            <!-- //Block -->
        </div>
    </div>
</div>