<!DOCTYPE html>
<html>

<head>
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,900&display=swap" rel="stylesheet">
    <title>Store</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <style>
        * {
            box-sizing: border-box;
        }

        body {
            margin: 0;
            padding: 0;
        }

        .game-card__overlay {
            color: white;
            background-color: rgba(0, 0, 0, 0.7);
            margin: 0;
            font-size: 1.3rem;
            padding: 0 0.7em 0.3em;
            box-shadow: 0 -4px 19px 3px black;
        }

        .game-card--big .game-card__overlay {
            font-size: 1.6rem;
        }

        .game-categories__overlay {
            color: white;
        }

        .game-categories__header {
            font-size: 1.3rem;
            /* font-size: 3rem; */
            font-weight: 400;
            margin: 0;
            line-height: 0.9;
        }

        .game-categories__subheader {
            font-size: 1.2rem;
            margin-top: 0.4em;
            display: none;
        }

        @media all and (min-width: 360px) {
            .game-categories__header {
                font-size: 5vw;
                font-weight: 400;
                margin: 0;
                line-height: 0.9;
            }
        }

        @media all and (min-width: 550px) {
            .game-categories__header {
                font-size: 4vw;
            }
        }

        @media all and (min-width: 800px) {
            .game-categories__header {
                font-size: 3vw;
            }

            .game-categories__subheader {
                font-size: 2vw;
                display: block;
            }
        }

        @media all and (min-width: 1400px) {
            .game-categories__header {
                font-size: 3.3rem;
            }

            .game-categories__subheader {
                font-size: 1.3rem;

            }
        }

        /*****************
        layout
    *****************/

        .store {
            width: 95%;
            margin: 0 auto;
            display: grid;
            grid-template-columns: repeat(2, minmax(100px, 1fr));
            grid-auto-rows: minmax(80px, 25vw);
            grid-gap: 4px;
        }

        .game-card {
            overflow: hidden;
        }

        .game-card--big {
            grid-row: auto / span 2;
            grid-column: 1 / span 2;
        }

        .game-card__wrapper {
            display: grid;
            grid-template-rows: auto min-content;
            height: 100%;
            text-decoration: none;
        }

        .game-card__image {
            grid-column: 1/ span 1;
            grid-row: 1 / span 2;
            height: 100%;
            background-position: center;
            background-size: cover;
            transition-property: all;
            transition-duration: .5s;
            transition-timing-funciton: ease-in;
            transition-delay: 0;
        }

        .game-card__overlay-wrapper {
            grid-column: 1/ span 1;
            grid-row: 2 / span 1;
            padding-top: 0.7em;
            overflow: hidden;
            font-size: 1.6rem;
            z-index: 2;
            pointer-events: none;
        }

        .game-categories {
            grid-row: auto / span 1;
            grid-column: auto / span 2;
            overflow: hidden;
        }

        .game-categories__wrapper {
            display: grid;
            grid-template-columns: 1fr;
            height: 100%;
            text-decoration: none;
        }

        .game-categories__overlay {
            align-self: center;
            margin-left: 1em;
            z-index: 1;
            pointer-events: none;
            grid-row: 1 / 2;
            grid-column: 1 / 2;
        }

        .game-categories__image {
            width: 100%;
            height: 100%;
            grid-column: 1 / 3;
            grid-row: 1 / 2;
            background-position: top right;
            background-size: contain;
            background-repeat: no-repeat;
            transition-property: all;
            transition-duration: .1s;
            transition-timing-function: ease-in;
            transition-delay: 0;
        }


        @media all and (min-width: 550px) {
            .game-categories {
                grid-column: auto / span 1;
            }

            .game-categories--big {
                grid-column: auto / span 2;
            }

            .game-categories__image {
                background-size: cover;
                background-position: bottom right;
            }
        }

        @media all and (min-width: 800px) {
            .store {
                width: 80%;
                max-width: 1300px;
                margin: 0 auto;
                display: grid;
                grid-template-columns: repeat(4, minmax(100px, 1fr));
                grid-template-rows: repeat(4, minmax(130px, 10vw)) repeat(30, minmax(100px, 6vw));
                grid-gap: 4px;
            }

            .game-card--big {
                grid-column: auto / span 2;
            }

            .game-card__image:hover,
            .game-card__image:focus {
                transition-property: all;
                transition-duration: 1s;
                transition-timing-function: ease;
                transform: scale(1.05);
            }

            .game-categories {
                grid-column: auto / span 2;
                grid-row: auto / span 3;
            }

            .game-categories--big {
                grid-column: auto / span 4;
            }

            .game-categories__image:hover,
            .game-categories__image:focus {
                transition-duration: 1s;
                transition-timing-function: ease;
                transform: scale(1.1) translate(10px);
            }
        }

        @media all and (min-width: 920px) {
            .game-categories__overlay {
                margin: 0 0.5em 0 1.3em;
            }

            .game-categories__image--1 {
                background-size: contain;
            }
        }

        @media all and (min-width: 1200px) {
            .game-categories__wrapper {
                grid-template-columns: 80% 1fr;
            }
        }

        .game-card__image--1 {
            background-image: url(https://www.nintendo.com/content/dam/noa/en_US/merchandising/cta-tile/switch/pokemon-2020/712x400_PG_GameStoreHalf_v01.jpg);
        }

        .game-card__image--2 {
            background-image: url(https://www.nintendo.com/content/dam/noa/en_US/games/switch/a/animal-crossing-new-horizons-switch/animal-crossing-new-horizons-switch-hero.jpg);
        }

        .game-card__image--3 {
            background-image: url(https://www.nintendo.com/content/dam/noa/en_US/games/switch/p/pokemon-sword-switch/pokemon-sword-switch-hero.jpg);
        }

        .game-card__image--4 {
            background-image: url(https://www.nintendo.com/content/dam/noa/en_US/games/switch/p/pokemon-shield-switch/pokemon-shield-switch-hero.jpg);
        }

        .game-card__image--5 {
            background-image: url(https://www.nintendo.com/content/dam/noa/en_US/games/switch/s/snack-world-the-dungeon-crawl-gold-switch/snack-world-the-dungeon-crawl-gold-switch-hero.jpg);
        }

        .game-card__image--6 {
            background-image: url(https://www.nintendo.com/content/dam/noa/en_US/games/switch/l/luigis-mansion-3-switch/luigis-mansion-3-switch-hero.jpg);
        }

        .game-card__image--7 {
            background-image: url(https://www.nintendo.com/content/dam/noa/en_US/games/switch/f/fortnite-switch/fortnite-switch-hero.jpg);
        }

        .game-card__image--8 {
            background-image: url(https://www.nintendo.com/content/dam/noa/en_US/games/switch/t/tokyo-mirage-sessions-fe-encore-switch/tokyo-mirage-sessions-fe-encore-switch-hero.jpg);
        }

        .game-card__image--9 {
            background-image: url(https://www.nintendo.com/content/dam/noa/en_US/games/switch/s/super-smash-bros-ultimate-switch/super-smash-bros-ultimate-switch-hero.jpg);
        }

        .game-card__image--10 {
            background-image: url(https://www.nintendo.com/content/dam/noa/en_US/games/switch/m/mario-and-sonic-at-the-olympic-games-tokyo-2020-switch/mario-and-sonic-at-the-olympic-games-tokyo-2020-switch-hero.jpg);
        }

        .game-categories__image--1 {
            background-image: url(https://www.nintendo.com/content/dam/noa/en_US/merchandising/curated-list/switch/new-releases/1180x500_NewReleases_Switch_2_2020_v01.jpg);
        }

        .game-categories__color--1 {
            background-color: #201E29;
        }

        .game-categories__image--2 {
            background-image: url(https://www.nintendo.com/content/dam/noa/en_US/merchandising/curated-list/game/best-sellers/585x420_BestSellers_12_2019_CuratedListPromo_v02.jpg);
        }

        .game-categories__color--2 {
            background-color: #0126d7;
        }

        .game-categories__image--3 {
            background-image: url(https://www.nintendo.com/content/dam/noa/en_US/merchandising/curated-list/game/indie-games/585x420_indie_CuratedListPromo_v02.jpg);
        }

        .game-categories__color--3 {
            background-color: #792267;
        }

        .game-categories__image--4 {
            background-image: url(https://www.nintendo.com/content/dam/noa/en_US/merchandising/curated-list/switch/games-for-core-gamers/585x420_AC_CuratedListPromo_v01.jpg);
        }

        .game-categories__color--4 {
            background-color: #181741;
        }

        .game-categories__image--5 {
            background-image: url(https://www.nintendo.com/content/dam/noa/en_US/merchandising/curated-list/switch/games-9-99-and-under/585x420_999games2020_CuratedListPromo_v01.jpg);
        }

        .game-categories__color--5 {
            background-color: #02833A;
        }

        .game-categories__image--6 {
            background-image: url(https://www.nintendo.com/content/dam/noa/en_US/merchandising/curated-list/game/sonic-games/585x420_Template_CuratedListPromo_v02.jpg);
        }

        .game-categories__color--6 {
            background-color: #0A5335;
        }

        .game-categories__image--7 {
            background-image: url(https://www.nintendo.com/content/dam/noa/en_US/merchandising/curated-list/switch/rpg-games/585x420_RPGs_7_2019_CuratedListPromo_v01.jpg);
        }

        .game-categories__color--7 {
            background-color: #8c312c;
        }

        .game-categories__image--8 {
            background-image: url(https://www.nintendo.com/content/dam/noa/en_US/merchandising/cta-tile/game/dspWLLXJS0vaqXej69iGZFORlSAGwYF1.jpg);
        }

        .game-categories__color--8 {
            background-color: #e70012;
        }

        .game-categories__image--9 {
            background-image: url(https://www.nintendo.com/content/dam/noa/en_US/merchandising/curated-list/switch/games-with-dlc/585x420_DLC_7_2019_CuratedListPromo_v01.jpg);
        }

        .game-categories__color--9 {
            background-color: #210b87;
        }

        .game-categories__image--10 {
            background-image: url(https://www.nintendo.com/content/dam/noa/en_US/merchandising/curated-list/switch/games-with-demos/585x420_Demos_7_2019_CuratedListPromo_v01.jpg);
        }

        .game-categories__color--10 {
            background-color: #03479c;
        }

        .game-categories__image--11 {
            background-image: url(https://www.nintendo.com/content/dam/noa/en_US/merchandising/curated-list/switch/games-to-spark-creativity/585x420_CreativeGames_CuratedListPromo_v01.jpg);
        }

        .game-categories__color--11 {
            background-color: #5E79D4;
        }

        .game-categories__image--12 {
            background-image: url(https://www.nintendo.com/content/dam/noa/en_US/merchandising/curated-list/game/all-games/1440x420_MK8_CuratedLanding_v01.jpg);
        }

        .game-categories__color--12 {
            background-color: #000000;
        }

        .game-categories__image--13 {
            background-image: url(https://www.nintendo.com/content/dam/noa/en_US/merchandising/cta-tile/switch/6sgGJPHl5W38x5w2R8-Pp3jbeKr4xfCS.jpg);
            background-size: contain;
        }

        .game-categories__color--13 {
            background-color: #E60C00;
        }

        .game-categories__image--14 {
            background-image: url(https://www.nintendo.com/content/dam/noa/en_US/merchandising/cta-tile/switch/mQ_Z_J9JJMQkScV-MHC1rLp9jAepSyXD.jpg);
            background-size: contain;
        }

        .game-categories__color--14 {
            background-color: #F77B1B;
        }

        .game-categories__image--15 {
            background-image: url(https://www.nintendo.com/content/dam/noa/en_US/merchandising/coming-soon/animal-crossing-new-horizons/1440x400_AHNH_comingSoon.jpg);
        }

        .game-categories__color--15 {
            background-color: #15874B;
        }
    </style>
</head>

<body>
    <div class="store" style="margin-top: 150px;">
        <div class="game-card game-card--big">
            <a href="#" class="game-card__wrapper">
                <div class="game-card__image game-card__image--1"></div>
                <div class="game-card__overlay-wrapper">
                    <p class="game-card__overlay">Game and demo available now</p>
                </div>
            </a>
        </div>
        <div class="game-card game-card--big">
            <a href="#" class="game-card__wrapper">
                <div class="game-card__image game-card__image--2"></div>
                <div class="game-card__overlay-wrapper">
                    <p class="game-card__overlay">Pre-purchase now</p>
                </div>
            </a>
        </div>
        <div class="game-card">
            <a href="#" class="game-card__wrapper">
                <div class="game-card__image game-card__image--3"></div>
                <div class="game-card__overlay-wrapper">
                    <p class="game-card__overlay">DLC available now</p>
                </div>
            </a>
        </div>
        <div class="game-card">
            <a href="#" class="game-card__wrapper">
                <div class="game-card__image game-card__image--4"></div>
                <div class="game-card__overlay-wrapper">
                    <p class="game-card__overlay">DLC available now</p>
                </div>
            </a>
        </div>
        <div class="game-card">
            <a href="#" class="game-card__wrapper">
                <div class="game-card__image game-card__image--5"></div>
                <div class="game-card__overlay-wrapper">
                    <p class="game-card__overlay">Available now</p>
                </div>
            </a>
        </div>
        <div class="game-card">
            <a href="#" class="game-card__wrapper">
                <div class="game-card__image game-card__image--6"></div>
                <div class="game-card__overlay-wrapper">
                    <p class="game-card__overlay">Available now</p>
                </div>
            </a>
        </div>
        <div class="game-card">
            <a href="#" class="game-card__wrapper">
                <div class="game-card__image game-card__image--7"></div>
                <div class="game-card__overlay-wrapper">
                    <p class="game-card__overlay">Pre-purchase now</p>
                </div>
            </a>
        </div>
        <div class="game-card">
            <a href="#" class="game-card__wrapper">
                <div class="game-card__image game-card__image--8"></div>
                <div class="game-card__overlay-wrapper">
                    <p class="game-card__overlay">Available now</p>
                </div>
            </a>
        </div>
        <div class="game-card">
            <a href="#" class="game-card__wrapper">
                <div class="game-card__image game-card__image--9"></div>
                <div class="game-card__overlay-wrapper">
                    <p class="game-card__overlay">DLC available now</p>
                </div>
            </a>
        </div>
        <div class="game-card">
            <a href="#" class="game-card__wrapper">
                <div class="game-card__image game-card__image--10"></div>
                <div class="game-card__overlay-wrapper">
                    <p class="game-card__overlay">DLC available now</p>
                </div>
            </a>
        </div>






        <div class="game-categories game-categories--big">
            <a href="#" class="game-categories__wrapper game-categories__color--1">
                <div class="game-categories__image game-categories__image--1">
                </div>
                <div class="game-categories__overlay">
                    <h2 class="game-categories__header">New <strong><br>Releases</strong></h2>
                    <p class="game-categories__subheader">See the newest games for Nintendo Switch. ></p>
                </div>
            </a>
        </div>
        <div class="game-categories">
            <a href="#" class="game-categories__wrapper game-categories__color--2">
                <div class="game-categories__image game-categories__image--2">
                </div>
                <div class="game-categories__overlay">
                    <h2 class="game-categories__header">Best-Selling<strong><br>Games</strong></h2>
                    <p class="game-categories__subheader">Find out which games are most popular with fans. ></p>
                </div>
            </a>
        </div>
        <div class="game-categories">
            <a href="#" class="game-categories__wrapper game-categories__color--3">
                <div class="game-categories__image game-categories__image--3">
                </div>
                <div class="game-categories__overlay">
                    <h2 class="game-categories__header">Indie<strong><br>Games</strong></h2>
                    <p class="game-categories__subheader">Spotlight on some of the hottest indie games. ></p>
                </div>
            </a>
        </div>
        <div class="game-categories">
            <a href="#" class="game-categories__wrapper game-categories__color--4">
                <div class="game-categories__image game-categories__image--4">
                </div>
                <div class="game-categories__overlay">
                    <h2 class="game-categories__header">Games for<strong><br>Core Gamers</strong></h2>
                    <p class="game-categories__subheader">Up for a challenge? Try out these intense titles for
                        experienced gamers. ></p>
                </div>
            </a>
        </div>
        <div class="game-categories">
            <a href="#" class="game-categories__wrapper game-categories__color--5">
                <div class="game-categories__image game-categories__image--5">
                </div>
                <div class="game-categories__overlay">
                    <h2 class="game-categories__header">Nintendo Switch Games<strong><br>$9.99 and under</strong></h2>
                    <p class="game-categories__subheader">Got a Nintendo eShop Card? Make the most of it. ></p>
                </div>
            </a>
        </div>
        <div class="game-categories">
            <a href="#" class="game-categories__wrapper game-categories__color--6">
                <div class="game-categories__image game-categories__image--6">
                </div>
                <div class="game-categories__overlay">
                    <h2 class="game-categories__header">Gotta go fast with<strong><br>Sonic</strong></h2>
                    <p class="game-categories__subheader">Celebrate Sonic with the blue speedster greatest hits! ></p>
                </div>
            </a>
        </div>
        <div class="game-categories">
            <a href="#" class="game-categories__wrapper game-categories__color--7">
                <div class="game-categories__image game-categories__image--7">
                </div>
                <div class="game-categories__overlay">
                    <h2 class="game-categories__header">Great Role-playing<strong><br>Games</strong></h2>
                    <p class="game-categories__subheader">Epic quests await in these RPGs. ></p>
                </div>
            </a>
        </div>
        <div class="game-categories">
            <a href="#" class="game-categories__wrapper game-categories__color--8">
                <div class="game-categories__image game-categories__image--8">
                </div>
                <div class="game-categories__overlay">
                    <h2 class="game-categories__header">Jump for joy with<strong><br>Super Mario</strong></h2>
                    <p class="game-categories__subheader">Speedrun through video game history with Mario's greatest
                        hits! ></p>
                </div>
            </a>
        </div>
        <div class="game-categories">
            <a href="#" class="game-categories__wrapper game-categories__color--9">
                <div class="game-categories__image game-categories__image--9">
                </div>
                <div class="game-categories__overlay">
                    <h2 class="game-categories__header">Games with<strong><br>DLC</strong></h2>
                    <p class="game-categories__subheader">Shop for games that have downloadable content(DLC). ></p>
                </div>
            </a>
        </div>
        <div class="game-categories">
            <a href="#" class="game-categories__wrapper game-categories__color--10">
                <div class="game-categories__image game-categories__image--10">
                </div>
                <div class="game-categories__overlay">
                    <h2 class="game-categories__header">Games with<strong><br>Demos</strong></h2>
                    <p class="game-categories__subheader">Try before you buy with games that offer free demos. ></p>
                </div>
            </a>
        </div>
        <div class="game-categories">
            <a href="#" class="game-categories__wrapper game-categories__color--11">
                <div class="game-categories__image game-categories__image--11">
                </div>
                <div class="game-categories__overlay">
                    <h2 class="game-categories__header">Games to Spark<strong><br>Creativity</strong></h2>
                    <p class="game-categories__subheader">Build worlds and break new ground at your own pace. ></p>
                </div>
            </a>
        </div>
        <div class="game-categories game-categories--big">
            <a href="#" class="game-categories__wrapper game-categories__color--12">
                <div class="game-categories__image game-categories__image--12">
                </div>
                <div class="game-categories__overlay">
                    <h2 class="game-categories__header">Nintendo Switch<strong><br>Games</strong></h2>
                    <p class="game-categories__subheader">See the entire catalog of games available for Nintendo Switch.
                        ></p>
                </div>
            </a>
        </div>
        <div class="game-categories game-categories--big">
            <a href="#" class="game-categories__wrapper game-categories__color--13">
                <div class="game-categories__image game-categories__image--13">
                </div>
                <div class="game-categories__overlay">
                    <h2 class="game-categories__header">All about<strong><br>Nintendo Switch</strong></h2>
                    <p class="game-categories__subheader">Discover the home gaming console that you can play anywhere. >
                    </p>
                </div>
            </a>
        </div>
        <div class="game-categories game-categories--big">
            <a href="#" class="game-categories__wrapper game-categories__color--14">
                <div class="game-categories__image game-categories__image--14">
                </div>
                <div class="game-categories__overlay">
                    <h2 class="game-categories__header">Buy<strong><br>Digital</strong></h2>
                    <p class="game-categories__subheader">Find out why it pays to go digital. ></p>
                </div>
            </a>
        </div>
        <div class="game-categories game-categories--big">
            <div href="#" class="game-categories__wrapper game-categories__color--15">
                <div class="game-categories__image game-categories__image--15">
                </div>
                <div class="game-categories__overlay">
                    <h2 class="game-categories__header">Coming<strong><br>Soon</strong></h2>
                    <p class="game-categories__subheader">Check out upcoming game releases. ></p>
                </div>
            </div>
        </div>

    </div>
</body>

</html>