<div class="app-sidebar sidebar-shadow">
    <div class="app-header__logo">
        <div class="logo-src"></div>
        <div class="header__pane ml-auto">
            <div>
                <button type="button" class="hamburger close-sidebar-btn hamburger--elastic"
                    data-class="closed-sidebar">
                    <span class="hamburger-box">
                        <span class="hamburger-inner"></span>
                    </span>
                </button>
            </div>
        </div>
    </div>
    <div class="app-header__mobile-menu">
        <div>
            <button type="button" class="hamburger hamburger--elastic mobile-toggle-nav">
                <span class="hamburger-box">
                    <span class="hamburger-inner"></span>
                </span>
            </button>
        </div>
    </div>
    <div class="app-header__menu">
        <span>
            <button type="button" class="btn-icon btn-icon-only btn btn-primary btn-sm mobile-toggle-header-nav">
                <span class="btn-icon-wrapper">
                    <i class="fa fa-ellipsis-v fa-w-6"></i>
                </span>
            </button>
        </span>
    </div>
    <div class="scrollbar-sidebar">
        <div class="app-sidebar__inner">
            <ul class="vertical-nav-menu">
                <li class="app-sidebar__heading">Menu</li>
                <li <% if (page_name === 'home') { %>class="mm-active" <% } %>>
                    <a href="#">
                        <i class="metismenu-icon pe-7s-rocket"></i>Tổng quan
                        <i class="metismenu-state-icon pe-7s-angle-down caret-left"></i>
                    </a>
                    <ul>
                        <li>
                            <a href="/" <% if (page_name === 'home') { %>class="mm-active" <% } %>>
                                <i class="metismenu-icon"></i>Thống kê
                            </a>
                        </li>


                        <!-- <li>
                            <a href="#">
                                <i class="metismenu-icon"></i> Minimal
                                <i class="metismenu-state-icon pe-7s-angle-down caret-left"></i>
                            </a>
                            <ul>
                                <li>
                                    <a href="dashboards-minimal-1.html">
                                        <i class="metismenu-icon"></i>Variation 1
                                    </a>
                                </li>
                                <li>
                                    <a href="dashboards-minimal-2.html">
                                        <i class="metismenu-icon"></i>Variation 2
                                    </a>
                                </li>
                            </ul>
                        </li> -->

                    </ul>
                </li>
                <li <% if (page_name === 'page') { %>class="mm-active" <% } %>>
                    <a href="#">
                        <i class="metismenu-icon pe-7s-browser"></i>Pages
                        <i class="metismenu-state-icon pe-7s-angle-down caret-left"></i>
                    </a>
                    <ul>
                        <li>
                            <a href="/news" <% if (page_name === 'page') { %>class="mm-active" <% } %>>
                                <i class="metismenu-icon"></i>Bài viết
                            </a>
                        </li>

                    </ul>
                </li>
                <li <% if (page_name === 'product','category') { %>class="mm-active" <% } %>>
                    <a href="#">
                        <i class="metismenu-icon pe-7s-plugin"></i>Các ứng dụng
                        <i class="metismenu-state-icon pe-7s-angle-down caret-left"></i>
                    </a>
                    <ul>
                        <li>
                            <a href="/product" <% if (page_name === 'product') { %>class="mm-active" <% } %>>
                                <i class="metismenu-icon"></i>Product
                            </a>
                        </li>
                        <li>
                            <a href="/products-types" <% if (page_name === 'category') { %>class="mm-active" <% } %>>
                                <i class="metismenu-icon">
                                </i>Category
                            </a>
                        </li>

                    </ul>
                </li>

            </ul>
        </div>
    </div>
</div>