	/*
  	Flaticon icon font: Flaticon
  	Creation date: 22/06/2016 15:41
  	*/

@font-face {
  font-family: "Flaticon";
  src: url("../fonts/Flaticon.eot");
  src: url("../fonts/Flaticond41d.eot?#iefix") format("embedded-opentype"),
       url("../fonts/Flaticon.woff") format("woff"),
       url("../fonts/Flaticon.ttf") format("truetype"),
       url("../fonts/Flaticon.svg#Flaticon") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "Flaticon";
    src: url("../fonts/Flaticon.svg#Flaticon") format("svg");
  }
}

[class^="flaticon-"]:before, [class*=" flaticon-"]:before,
[class^="flaticon-"]:after, [class*=" flaticon-"]:after {   
  font-family: Flaticon;
font-style: normal;
}

.flaticon-allen:before { content: "\f100"; }
.flaticon-allen-1:before { content: "\f101"; }
.flaticon-allen-2:before { content: "\f102"; }
.flaticon-anvil:before { content: "\f103"; }
.flaticon-axe:before { content: "\f104"; }
.flaticon-barrier:before { content: "\f105"; }
.flaticon-battery:before { content: "\f106"; }
.flaticon-battery-1:before { content: "\f107"; }
.flaticon-board:before { content: "\f108"; }
.flaticon-brace:before { content: "\f109"; }
.flaticon-brick-wall:before { content: "\f10a"; }
.flaticon-brick-wall-1:before { content: "\f10b"; }
.flaticon-brick-wall-2:before { content: "\f10c"; }
.flaticon-brick-wall-3:before { content: "\f10d"; }
.flaticon-bucket:before { content: "\f10e"; }
.flaticon-bucket-1:before { content: "\f10f"; }
.flaticon-caulk-gun:before { content: "\f110"; }
.flaticon-chainsaw:before { content: "\f111"; }
.flaticon-chisel:before { content: "\f112"; }
.flaticon-concrete-mixer:before { content: "\f113"; }
.flaticon-cone:before { content: "\f114"; }
.flaticon-construction:before { content: "\f115"; }
.flaticon-construction-1:before { content: "\f116"; }
.flaticon-crane:before { content: "\f117"; }
.flaticon-crane-1:before { content: "\f118"; }
.flaticon-cutter:before { content: "\f119"; }
.flaticon-door:before { content: "\f11a"; }
.flaticon-door-1:before { content: "\f11b"; }
.flaticon-door-2:before { content: "\f11c"; }
.flaticon-door-3:before { content: "\f11d"; }
.flaticon-drawing:before { content: "\f11e"; }
.flaticon-drawing-1:before { content: "\f11f"; }
.flaticon-drill:before { content: "\f120"; }
.flaticon-drill-1:before { content: "\f121"; }
.flaticon-drill-2:before { content: "\f122"; }
.flaticon-drill-3:before { content: "\f123"; }
.flaticon-electric-tower:before { content: "\f124"; }
.flaticon-electric-tower-1:before { content: "\f125"; }
.flaticon-electricity:before { content: "\f126"; }
.flaticon-engineer:before { content: "\f127"; }
.flaticon-eolic-energy:before { content: "\f128"; }
.flaticon-flash:before { content: "\f129"; }
.flaticon-flashlight:before { content: "\f12a"; }
.flaticon-garage:before { content: "\f12b"; }
.flaticon-gas-pipe:before { content: "\f12c"; }
.flaticon-gas-pipe-1:before { content: "\f12d"; }
.flaticon-gas-pipe-2:before { content: "\f12e"; }
.flaticon-gas-pipe-3:before { content: "\f12f"; }
.flaticon-gas-pipe-4:before { content: "\f130"; }
.flaticon-gas-pipe-5:before { content: "\f131"; }
.flaticon-gas-pipe-6:before { content: "\f132"; }
.flaticon-gas-pipe-7:before { content: "\f133"; }
.flaticon-gas-pipe-8:before { content: "\f134"; }
.flaticon-glass-wall:before { content: "\f135"; }
.flaticon-hammer:before { content: "\f136"; }
.flaticon-hammer-1:before { content: "\f137"; }
.flaticon-hammer-2:before { content: "\f138"; }
.flaticon-hammer-3:before { content: "\f139"; }
.flaticon-hammer-4:before { content: "\f13a"; }
.flaticon-hammer-5:before { content: "\f13b"; }
.flaticon-helmet:before { content: "\f13c"; }
.flaticon-hook:before { content: "\f13d"; }
.flaticon-hydrant:before { content: "\f13e"; }
.flaticon-jackhammer:before { content: "\f13f"; }
.flaticon-jigsaw:before { content: "\f140"; }
.flaticon-knife:before { content: "\f141"; }
.flaticon-ladder:before { content: "\f142"; }
.flaticon-ladder-1:before { content: "\f143"; }
.flaticon-ladder-2:before { content: "\f144"; }
.flaticon-ladder-3:before { content: "\f145"; }
.flaticon-ladder-4:before { content: "\f146"; }
.flaticon-level:before { content: "\f147"; }
.flaticon-light-bulb:before { content: "\f148"; }
.flaticon-light-bulb-1:before { content: "\f149"; }
.flaticon-light-bulb-10:before { content: "\f14a"; }
.flaticon-light-bulb-11:before { content: "\f14b"; }
.flaticon-light-bulb-12:before { content: "\f14c"; }
.flaticon-light-bulb-13:before { content: "\f14d"; }
.flaticon-light-bulb-2:before { content: "\f14e"; }
.flaticon-light-bulb-3:before { content: "\f14f"; }
.flaticon-light-bulb-4:before { content: "\f150"; }
.flaticon-light-bulb-5:before { content: "\f151"; }
.flaticon-light-bulb-6:before { content: "\f152"; }
.flaticon-light-bulb-7:before { content: "\f153"; }
.flaticon-light-bulb-8:before { content: "\f154"; }
.flaticon-light-bulb-9:before { content: "\f155"; }
.flaticon-loader:before { content: "\f156"; }
.flaticon-log:before { content: "\f157"; }
.flaticon-log-1:before { content: "\f158"; }
.flaticon-log-2:before { content: "\f159"; }
.flaticon-measuring-tape:before { content: "\f15a"; }
.flaticon-nail:before { content: "\f15b"; }
.flaticon-nail-gun:before { content: "\f15c"; }
.flaticon-nails:before { content: "\f15d"; }
.flaticon-nails-1:before { content: "\f15e"; }
.flaticon-paint-brush:before { content: "\f15f"; }
.flaticon-paint-brush-1:before { content: "\f160"; }
.flaticon-paint-brush-10:before { content: "\f161"; }
.flaticon-paint-brush-11:before { content: "\f162"; }
.flaticon-paint-brush-12:before { content: "\f163"; }
.flaticon-paint-brush-2:before { content: "\f164"; }
.flaticon-paint-brush-3:before { content: "\f165"; }
.flaticon-paint-brush-4:before { content: "\f166"; }
.flaticon-paint-brush-5:before { content: "\f167"; }
.flaticon-paint-brush-6:before { content: "\f168"; }
.flaticon-paint-brush-7:before { content: "\f169"; }
.flaticon-paint-brush-8:before { content: "\f16a"; }
.flaticon-paint-brush-9:before { content: "\f16b"; }
.flaticon-paint-roller:before { content: "\f16c"; }
.flaticon-paint-roller-1:before { content: "\f16d"; }
.flaticon-paint-roller-2:before { content: "\f16e"; }
.flaticon-pantone:before { content: "\f16f"; }
.flaticon-parquet:before { content: "\f170"; }
.flaticon-parquet-1:before { content: "\f171"; }
.flaticon-pipe:before { content: "\f172"; }
.flaticon-pipe-1:before { content: "\f173"; }
.flaticon-pipe-10:before { content: "\f174"; }
.flaticon-pipe-11:before { content: "\f175"; }
.flaticon-pipe-2:before { content: "\f176"; }
.flaticon-pipe-3:before { content: "\f177"; }
.flaticon-pipe-4:before { content: "\f178"; }
.flaticon-pipe-5:before { content: "\f179"; }
.flaticon-pipe-6:before { content: "\f17a"; }
.flaticon-pipe-7:before { content: "\f17b"; }
.flaticon-pipe-8:before { content: "\f17c"; }
.flaticon-pipe-9:before { content: "\f17d"; }
.flaticon-plier:before { content: "\f17e"; }
.flaticon-plier-1:before { content: "\f17f"; }
.flaticon-plier-2:before { content: "\f180"; }
.flaticon-plier-3:before { content: "\f181"; }
.flaticon-plier-4:before { content: "\f182"; }
.flaticon-plug:before { content: "\f183"; }
.flaticon-plug-1:before { content: "\f184"; }
.flaticon-plug-2:before { content: "\f185"; }
.flaticon-plug-3:before { content: "\f186"; }
.flaticon-plug-4:before { content: "\f187"; }
.flaticon-plug-5:before { content: "\f188"; }
.flaticon-plumbering:before { content: "\f189"; }
.flaticon-plumbering-1:before { content: "\f18a"; }
.flaticon-rake:before { content: "\f18b"; }
.flaticon-rake-1:before { content: "\f18c"; }
.flaticon-rake-2:before { content: "\f18d"; }
.flaticon-relief-valve:before { content: "\f18e"; }
.flaticon-relief-valve-1:before { content: "\f18f"; }
.flaticon-relief-valve-2:before { content: "\f190"; }
.flaticon-roof:before { content: "\f191"; }
.flaticon-ruler:before { content: "\f192"; }
.flaticon-ruler-1:before { content: "\f193"; }
.flaticon-ruler-2:before { content: "\f194"; }
.flaticon-ruler-3:before { content: "\f195"; }
.flaticon-ruler-4:before { content: "\f196"; }
.flaticon-ruler-5:before { content: "\f197"; }
.flaticon-saw:before { content: "\f198"; }
.flaticon-saw-1:before { content: "\f199"; }
.flaticon-saw-2:before { content: "\f19a"; }
.flaticon-saw-3:before { content: "\f19b"; }
.flaticon-saw-4:before { content: "\f19c"; }
.flaticon-saw-5:before { content: "\f19d"; }
.flaticon-screw:before { content: "\f19e"; }
.flaticon-screw-1:before { content: "\f19f"; }
.flaticon-screw-2:before { content: "\f1a0"; }
.flaticon-screw-3:before { content: "\f1a1"; }
.flaticon-screw-4:before { content: "\f1a2"; }
.flaticon-screw-5:before { content: "\f1a3"; }
.flaticon-screwdriver:before { content: "\f1a4"; }
.flaticon-screwdriver-1:before { content: "\f1a5"; }
.flaticon-screwdriver-2:before { content: "\f1a6"; }
.flaticon-screwdriver-3:before { content: "\f1a7"; }
.flaticon-screwdriver-4:before { content: "\f1a8"; }
.flaticon-screwdriver-5:before { content: "\f1a9"; }
.flaticon-screws:before { content: "\f1aa"; }
.flaticon-screws-1:before { content: "\f1ab"; }
.flaticon-scythe:before { content: "\f1ac"; }
.flaticon-shovel:before { content: "\f1ad"; }
.flaticon-shovel-1:before { content: "\f1ae"; }
.flaticon-shovel-2:before { content: "\f1af"; }
.flaticon-shovel-3:before { content: "\f1b0"; }
.flaticon-shovel-4:before { content: "\f1b1"; }
.flaticon-socket:before { content: "\f1b2"; }
.flaticon-socket-1:before { content: "\f1b3"; }
.flaticon-socket-10:before { content: "\f1b4"; }
.flaticon-socket-11:before { content: "\f1b5"; }
.flaticon-socket-12:before { content: "\f1b6"; }
.flaticon-socket-13:before { content: "\f1b7"; }
.flaticon-socket-14:before { content: "\f1b8"; }
.flaticon-socket-15:before { content: "\f1b9"; }
.flaticon-socket-16:before { content: "\f1ba"; }
.flaticon-socket-17:before { content: "\f1bb"; }
.flaticon-socket-18:before { content: "\f1bc"; }
.flaticon-socket-19:before { content: "\f1bd"; }
.flaticon-socket-2:before { content: "\f1be"; }
.flaticon-socket-3:before { content: "\f1bf"; }
.flaticon-socket-4:before { content: "\f1c0"; }
.flaticon-socket-5:before { content: "\f1c1"; }
.flaticon-socket-6:before { content: "\f1c2"; }
.flaticon-socket-7:before { content: "\f1c3"; }
.flaticon-socket-8:before { content: "\f1c4"; }
.flaticon-socket-9:before { content: "\f1c5"; }
.flaticon-spray:before { content: "\f1c6"; }
.flaticon-spray-gun:before { content: "\f1c7"; }
.flaticon-swiss-army-knife:before { content: "\f1c8"; }
.flaticon-swiss-army-knife-1:before { content: "\f1c9"; }
.flaticon-swiss-army-knife-2:before { content: "\f1ca"; }
.flaticon-swiss-army-knife-3:before { content: "\f1cb"; }
.flaticon-swiss-army-knife-4:before { content: "\f1cc"; }
.flaticon-swiss-army-knife-5:before { content: "\f1cd"; }
.flaticon-switch:before { content: "\f1ce"; }
.flaticon-switch-1:before { content: "\f1cf"; }
.flaticon-switch-2:before { content: "\f1d0"; }
.flaticon-switch-3:before { content: "\f1d1"; }
.flaticon-switch-4:before { content: "\f1d2"; }
.flaticon-switch-5:before { content: "\f1d3"; }
.flaticon-switch-6:before { content: "\f1d4"; }
.flaticon-switch-7:before { content: "\f1d5"; }
.flaticon-tap:before { content: "\f1d6"; }
.flaticon-tap-1:before { content: "\f1d7"; }
.flaticon-tap-2:before { content: "\f1d8"; }
.flaticon-tiles:before { content: "\f1d9"; }
.flaticon-toolbox:before { content: "\f1da"; }
.flaticon-toolbox-1:before { content: "\f1db"; }
.flaticon-tools:before { content: "\f1dc"; }
.flaticon-tools-1:before { content: "\f1dd"; }
.flaticon-tools-2:before { content: "\f1de"; }
.flaticon-tools-3:before { content: "\f1df"; }
.flaticon-trowel:before { content: "\f1e0"; }
.flaticon-trowel-1:before { content: "\f1e1"; }
.flaticon-trowel-2:before { content: "\f1e2"; }
.flaticon-trowel-3:before { content: "\f1e3"; }
.flaticon-trowel-4:before { content: "\f1e4"; }
.flaticon-vest:before { content: "\f1e5"; }
.flaticon-vise:before { content: "\f1e6"; }
.flaticon-vise-1:before { content: "\f1e7"; }
.flaticon-vise-2:before { content: "\f1e8"; }
.flaticon-vise-3:before { content: "\f1e9"; }
.flaticon-vise-4:before { content: "\f1ea"; }
.flaticon-voltmeter:before { content: "\f1eb"; }
.flaticon-voltmeter-1:before { content: "\f1ec"; }
.flaticon-voltmeter-2:before { content: "\f1ed"; }
.flaticon-voltmeter-3:before { content: "\f1ee"; }
.flaticon-wall-plug:before { content: "\f1ef"; }
.flaticon-wallpaper:before { content: "\f1f0"; }
.flaticon-wheelbarrow:before { content: "\f1f1"; }
.flaticon-window:before { content: "\f1f2"; }
.flaticon-window-1:before { content: "\f1f3"; }
.flaticon-window-2:before { content: "\f1f4"; }
.flaticon-window-3:before { content: "\f1f5"; }
.flaticon-window-4:before { content: "\f1f6"; }
.flaticon-wood:before { content: "\f1f7"; }
.flaticon-wood-1:before { content: "\f1f8"; }
.flaticon-woodcutter:before { content: "\f1f9"; }
.flaticon-wrench:before { content: "\f1fa"; }
.flaticon-wrench-1:before { content: "\f1fb"; }
.flaticon-wrench-2:before { content: "\f1fc"; }
.flaticon-wrench-3:before { content: "\f1fd"; }
.flaticon-wrench-4:before { content: "\f1fe"; }
.flaticon-wrench-5:before { content: "\f1ff"; }
.flaticon-wrench-6:before { content: "\f200"; }
.flaticon-wrench-7:before { content: "\f201"; }
.flaticon-wrench-8:before { content: "\f202"; }
.flaticon-wrench-9:before { content: "\f203"; }