/*--------------------------------------------------------------
>>> TABLE OF CONTENTS:
----------------------------------------------------------------
# Navigation
  ## Menus
# Accessibility
# Alignments
# Clearings
# Widgets
# Content
  ## Posts and pages
  ## Comments
# Infinite scroll
# Media
  ## Captions
  ## Galleries
--------------------------------------------------------------*/

/*--------------------------------------------------------------
# Navigation
--------------------------------------------------------------*/
/*--------------------------------------------------------------
## Menus
--------------------------------------------------------------*/
.main-navigation {
    clear: both;
    display: block;
    float: left;
    width: 100%;
}
.main-navigation ul {
    display: none;
    list-style: none;
    margin: 0;
    padding-left: 0;
}
.main-navigation li {
    float: left;
    position: relative;
}
.main-navigation a {
    display: block;
    text-decoration: none;
}
.main-navigation ul ul {
    box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2);
    float: left;
    position: absolute;
    top: 1.5em;
    left: -999em;
    z-index: 99999;
}
.main-navigation ul ul ul {
    left: -999em;
    top: 0;
}
.main-navigation ul ul a {
    width: 200px;
}
.main-navigation ul li:hover > ul,
.main-navigation ul li.focus > ul {
    left: auto;
}
.main-navigation ul ul li:hover > ul,
.main-navigation ul ul li.focus > ul {
    left: 100%;
}
/* Small menu. */
.menu-toggle,
.main-navigation.toggled ul {
    display: block;
}
@media screen and (min-width: 37.5em) {
    .menu-toggle {
        display: none;
    }
    .main-navigation ul {
        display: block;
    }
}
.site-main .comment-navigation,
.site-main .posts-navigation,
.site-main .post-navigation {
    margin: 0 0 1.5em;
    overflow: hidden;
}
.comment-navigation .nav-previous,
.posts-navigation .nav-previous,
.post-navigation .nav-previous {
    float: left;
    width: 50%;
}
.comment-navigation .nav-next,
.posts-navigation .nav-next,
.post-navigation .nav-next {
    float: right;
    text-align: right;
    width: 50%;
}
/*--------------------------------------------------------------
# Accessibility
--------------------------------------------------------------*/
/* Text meant only for screen readers. */
.screen-reader-text {
    clip: rect(1px, 1px, 1px, 1px);
    position: absolute !important;
    height: 1px;
    width: 1px;
    overflow: hidden;
}
.screen-reader-text:focus {
    background-color: #f1f1f1;
    border-radius: 3px;
    box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);
    clip: auto !important;
    color: #21759b;
    display: block;
    font-size: 14px;
    font-size: 0.875rem;
    font-weight: bold;
    height: auto;
    left: 5px;
    line-height: normal;
    padding: 15px 23px 14px;
    text-decoration: none;
    top: 5px;
    width: auto;
    z-index: 100000; /* Above WP toolbar. */
}
/* Do not show the outline on the skip link target. */
#content[tabindex="-1"]:focus {
    outline: 0;
}
/*--------------------------------------------------------------
# Alignments
--------------------------------------------------------------*/
.alignleft {
    float: left;
    margin-right: 1.5em;
    clear: both;
}
.alignright {
    float: right;
    margin-left: 1.5em;
    clear: both;
}
.aligncenter {
    clear: both;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
/*--------------------------------------------------------------
# Clearings
--------------------------------------------------------------*/
.clear:before,
.clear:after,
.entry-content:before,
.entry-content:after,
.comment-content:before,
.comment-content:after,
.site-header:before,
.site-header:after,
.site-content:before,
.site-content:after,
.site-footer:before,
.site-footer:after {
    content: "";
    display: table;
    table-layout: fixed;
}
.clear:after,
.entry-content:after,
.comment-content:after,
.site-header:after,
.site-content:after,
.site-footer:after {
    clear: both;
}
/*--------------------------------------------------------------
# Widgets
--------------------------------------------------------------*/
.widget select{
    width: 100%;
    padding: 6px 10px;
    background: transparent;
    margin-top: 20px;
}
.widget select option {
    color:#000;
}
/*--------------------------------------------------------------
# Content
--------------------------------------------------------------*/
/*--------------------------------------------------------------
## Posts and pages
--------------------------------------------------------------*/
.sticky {
    display: block;
}
.byline,
.updated:not(.published) {
    display: none;
}
.single .byline,
.group-blog .byline {
    display: inline;
}
.page-content,
.entry-content,
.entry-summary {
    margin: 0;
}
.page-links {
    clear: both;
    margin: 0 0 1.5em;
}
/*--------------------------------------------------------------
## Comments
--------------------------------------------------------------*/
.comment-content a {
    word-wrap: break-word;
}
.bypostauthor {
    display: block;
}
/*--------------------------------------------------------------
# Infinite scroll
--------------------------------------------------------------*/
/* Globally hidden elements when Infinite Scroll is supported and in use. */
.infinite-scroll .posts-navigation, /* Older / Newer Posts Navigation (always hidden) */
.infinite-scroll.neverending .site-footer { /* Theme Footer (when set to scrolling) */
    display: none;
}
/* When Infinite Scroll has reached its end we need to re-display elements that were hidden (via .neverending) before. */
.infinity-end.neverending .site-footer {
    display: block;
}
/*--------------------------------------------------------------
# Media
--------------------------------------------------------------*/
.page-content .wp-smiley,
.entry-content .wp-smiley,
.comment-content .wp-smiley {
    border: none;
    margin-bottom: 0;
    margin-top: 0;
    padding: 0;
}
/* Make sure embeds and iframes fit their containers. */
embed,
iframe,
object {
    max-width: 100%;
}
/*--------------------------------------------------------------
## Captions
--------------------------------------------------------------*/
.wp-caption {
    margin-bottom: 1.5em;
    max-width: 100%;
}
.wp-caption img[class*="wp-image-"] {
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.wp-caption .wp-caption-text {
    margin: 0.8075em 0;
}
.wp-caption-text {
    text-align: center;
}
/*--------------------------------------------------------------
## Galleries
--------------------------------------------------------------*/
.gallery-columns-3 .gallery-item:nth-child(3n+1) {
    clear: left;
}
.blog-post .post-teaser .gallery-item{
    background-color: transparent;
}
.post-teaser img {
    max-width: 100%;
    height: auto;
}
.edit-link {
    color: #fff;
    display: inline-block;
    padding: 1px 10px;
    margin-left: 0;
    margin-bottom: 0 !important;
}
.edit-link a {
    color: #fff !important;
}
.wp-caption-text.gallery-caption {
    display: block;
    padding: 20px 20px 20px 0px;
    text-align: left;
}
blockquote {
    margin-bottom: 60px;
}
.blog-post blockquote {
    position: relative;
    font-style: italic;
}
.post-teaser th {
    font-size: 17px !important;
}
.post-teaser a {
    font-size: 15px !important;
}
table {
    border-right: 1px solid hsl(0, 0%, 87%);
    border-collapse: separate;
    border-spacing: 0;
    margin: 0 0 1.75em;
    table-layout: fixed;
    width: 100%;
}
table > thead > tr > th, table > tbody > tr > th, table > tbody > tr > td {
    border-top: 1px solid hsl(0, 0%, 87%);
    line-height: 1.42857;
    padding: 8px;
    vertical-align: top;
}
table {
    border-collapse: separate;
    border-spacing: 0;
}
.table > tbody > tr > td, .table > tbody > tr > th, .table > tfoot > tr > td, .table > tfoot > tr > th, .table > thead > tr > td, .table > thead > tr > th, table > tbody > tr > td, table > tbody > tr > th, table > tfoot > tr > td, table > tfoot > tr > th, table > thead > tr > td, table > thead > tr > th, th, td {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    border-color: currentcolor currentcolor hsl(0, 0%, 82%) hsl(0, 0%, 82%);
    border-image: none;
    border-style: none none solid solid;
    border-width: medium medium 1px 1px;
    padding: 10px;
}
.post-teaser td {
    font-weight: 600;
}
.post-teaser img {
    height: auto;
    max-width: 100%;
}
.widget img {
    height: auto;
    max-width: 100%;
}
.category-list > li {
    font-size: 16px;
    line-height: 20px;
}
.category-list > li {
    font-size: 18px;
    line-height: 20px;
    padding: 10px 0 10px 20px;
    position: relative;
    margin-top: 0;
}
.post-teaser ul li > span {
    font-size: 14px !important;
}
.category-list > li a {
    color: hsl(0, 0%, 27%);
    font-size: 16px !important;
    text-decoration: none;
}
.category-list > li {
    font-size: 16px !important;
}
.post-teaser input[type="text"], .post-teaser input[type="password"] {
    border: 1px solid hsl(0, 0%, 60%);
    border-radius: 0px;
    padding: 13px 22px;
}
.blog-post > .inside {
    padding: 0;
}
.tags-links.tags-list > li {
    display: inline-block;
    margin-bottom: 7px;
    margin-right: 5px;
    padding: 0;
}
blockquote {
    border-left: none;
    position: relative;
    padding-left: 100px;
}
.blog-post .post-image img {
    height: auto;
    max-width: 100%;
    width: auto;
}
select {
    max-width: 270px;
    width: 100%;
    background: transparent;
    margin-left: 0;
    height: 50px;
    padding: 10px;
    color: #fff;
    border: 1px solid #EC9123;
    border-radius: 3px;
    margin-top: 11px;
}
.sticky_post_icon {
    font-size: 30px;
    position: absolute;
    right: 10px;
    background: rgba(256,256,256, 0.9);
    color: #333;
    border-top-left-radius: 40px;
    border-bottom-right-radius: 40px;
    border-bottom-left-radius: 40px;
    z-index: 1;
    padding: 4px;
    border: 3px solid;
    top: 10px;
}
pre {
    display: block;
    padding: 9.5px;
    margin: 0 0 10px;
    font-size: 13px;
    line-height: 1.42857143;
    color: #fff;
    white-space: pre-wrap;
    word-wrap: break-word;
    background-color: #0d0b26;
    border: 1px solid #ccc;
    border-radius: 4px;
    overflow: auto;
}
address {
    margin-bottom: 20px;
    line-height: 1.42857143;
    font-style: italic;
}
.category-list {
    list-style: outside none none;
    margin: 0;
    padding: 0;
}
.list-image > img {
    max-width: 100%;
    height: auto;
    width: auto;
} 
.gallery-item {
    display: inline-block;
    padding: 1.79104477%;
    text-align: center;
    vertical-align: top;
}
.gallery-columns-1 .gallery-item {
    max-width: 100%;
    width: 100%;
}
.gallery-columns-2 .gallery-item {
    max-width: 100%;
    width: 50%;
}
@media screen and (min-width: 30em){
    .gallery-columns-2 .gallery-item {
        max-width: 50%;
    }
}
.gallery-columns-3 .gallery-item {
    max-width: 100%;
    width: 33.33%;
}
@media screen and (min-width: 30em){
    .gallery-columns-3 .gallery-item {
        max-width: 33.33%;
    }
}
.gallery-columns-3 .gallery-item:nth-child(3n+1) {
    clear: left;
}
.gallery-columns-4>.gallery-item {
    max-width: 100%;
    width: 25%;
}
@media screen and (min-width: 30em){
    .gallery-columns-4 .gallery-item {
        max-width: 25%;
    }
}
.gallery-columns-5 .gallery-item {
    max-width: 100%;
    width: 20%;
}
@media screen and (min-width: 48em){
    .gallery-columns-5 .gallery-item {
        max-width: 20%;
    }
}
.gallery-columns-6 .gallery-item {
    max-width: 100%;
    width: 16.66%;
}
@media screen and (min-width: 48em){
    .gallery-columns-6 .gallery-item {
        max-width: 16.66%;
    }
}
.gallery-columns-7 .gallery-item {
    max-width: 100%;
    width: 14.28%;
}
@media screen and (min-width: 48em){
    .gallery-columns-7 .gallery-item {
        max-width: 14.28%;
    }
}
.gallery-columns-8 .gallery-item {
    max-width: 100%;
    width: 12.5%;
}
@media screen and (min-width: 48em){
    .gallery-columns-8 .gallery-item {
        max-width: 12.5%;
    }
}
.gallery-columns-9 .gallery-item {
    max-width: 100%;
    width: 11.11%;
}
@media screen and (min-width: 48em){
    .gallery-columns-9 .gallery-item {
        max-width: 11.11%;
    }
}
.gallery-item .wp-caption-text.gallery-caption {
    text-align: center;
}
/* 13-02-2017 unite test */
.widget_nav_menu ul>li>ul.sub-menu>li>ul.sub-menu ul.sub-menu {
    padding-left: 13px;
} 
.widget_nav_menu ul > li > ul.sub-menu li > ul.sub-menu li {
    padding-left: 0;
    padding-bottom: 0;
    margin-bottom: 0;
} 
.widget_nav_menu ul > li > ul.sub-menu li > ul.sub-menu.category-list > li>a{
    margin-left: 15px;
}
.column-right ul {
    padding-bottom: 0;
} 
.post-image img {
    height: auto;
    max-width: 100%;
}
table {
    border-collapse: separate;
    border-spacing: 0;
    border-top: 1px solid #ccc;
    margin: 0 0 1.75em;
    table-layout: fixed;
    width: 100%;
}
.table>tbody>tr>td,
.table>tbody>tr>th,
.table>tfoot>tr>td,
.table>tfoot>tr>th,
.table>thead>tr>td,
.table>thead>tr>th {
    padding: 8px;
    line-height: 1.428571429;
    vertical-align: top;
    border-top: 1px solid #ddd;
    border-right: 1px solid #ddd;
}
.textwidget > form select option {
    width: 250px;
}
.comments .comment .comment {
    margin-left: 40px;
}
.comments .comment .comment {
    margin-left: 0px;
}
.entry-content img {
    max-width: 100%;
    height: auto;
}
.box-step .title span {
    color: #009cdc;
}
.comments-area .comment .comment {
    margin-left: 2em;
}
.comment-reply-title {
    font-size: 28px;
    font-weight: 600;
}
.blog #monster-widget-placeholder-1 {
    margin-top: -15px;
}
.post-teaser input[type=submit] {
    -webkit-appearance: button;
    cursor: pointer;
    border: 1px solid #333;
    background: #333;
    padding: 14px 22px 13px;
    display: inline-block;
    width: auto;
    font-size: 18px;
    line-height: 22px;
    color: #ffffff;
    margin: 0px 0;
}
ul, ol {
    padding: 0 0 0px 40px;
}
.blog-post dd {
    margin-left: 0;
    margin: 5px 0px 20px 15px;
}
.side-block ul,.side-block ol {
    list-style: outside none none;
    margin: 0;
    padding: 0;
}
.list-inline {
    padding-left: 0;
    margin-left: -5px;
    list-style: none;
    display: inline-block;
}
blockquote{
    position: relative;
}
.blog-post .post-image img {
    height: auto;
    max-width: 100%;
    width: auto;
}
.post-teaser [class*="gallery-columns"] {
    display: inline-block;
}
.post-teaser .gallery-item img {
    max-width: 100%;
    height: auto;
    width: auto;
}
.blog-post .post-teaser .gallery-item {
    background-color: transparent;
}
.post-teaser h2 {
    margin-top: 15px;
}
.blog-post .post-teaser .gallery-item {
    float: left;
    overflow: hidden;
    width: 33.33%;
    margin-bottom: 20px;
    text-align: left;
}
.blog-post .gallery-item:nth-child(3n+1) {
    clear: left;
}
.search-no-results .page-main,
.error404 .page-main {
    margin-top:60px;
} 
@media (max-width: 767px) {
    .comment-list .comment .text {
        overflow: visible;
        padding-top: 4px;
    }
    .comment-list .comment .text .meta {
        border-bottom: 0px solid #efefef;
        padding-bottom: 20px;
    }
    .comment-list ol {
        padding: 0px;
        padding-left: 15px;
    }
    .comment-list li.comment {
        margin-left: 0px !important;
    }
    h3 {
        font-size: 24px;
    }
    .comment-list .comment .text .meta-author {
        display: block;
    }
}
.comment-list li {
    list-style: none;
}
.side-block ul.children {
    padding-left: 20px;
}
@media (max-width: 767px){
    body .page-header-top-off .logo {
        max-width: 200px;
        padding-left: 50px;
        padding-right: 45px;
    }
    .comment-list .comment .userpic {
        text-align: left !important;
    }
}
.updated:not(.published) {
    display: none;
}
form.search-form label {
    width: 100%;
    margin-bottom: 10px;
}
.search-submit {
    background: #de511a;
    border: 1px solid #de511a;
    color: #fff;
    height: 34px;
    width: 100%;
    font-weight: 700;
}
form.search-form input.search-field {
    border: 1px solid #de511a;
    padding: 5px 7px;
    height: 34px;
    width: 100%;
}
.page-section-unit{
    background: #12102f;
    padding: 100px 0px 100px
}
.page-section-unit .page {
    overflow: hidden;
}
a {
    color:#fff;
}
.widget .search-option {
    position: unset;
    display: block !important;
    margin-top: 20px;
}
.widget a.main-search {
    display: none;
}
.widget_recent_comments.left-blog ul li {
    padding: 8px 0px 8px 25px;
    position: relative;
}
.widget_recent_comments.left-blog ul li:before {
    position: absolute;
    content: "\e87a";
    font-family: cavalier;
    left: 0px;
    top: 10px;
    font-size: 14px;
}
.widget_recent_comments.left-blog ul li a {
    padding: 0;
    display: inline;
}
.widget_recent_comments.left-blog ul li a:before {
    display: none;
}
.page-links.pagination {
    display: block;
    margin: 0;
}
.widget ul {
    padding: 0;
    margin: 0;
    list-style: outside none none;
}
.left-head-blog .widget:last-child .left-blog {
    padding-bottom: 0px;
}
.blog-content {
    overflow: hidden;
}
.post-password-form input[type="submit"] {
    background: #EC9123;
    border: none;
    padding: 3px 20px;
    border-radius: 3px;
    font-weight: 700;
    color:#fff;
}
.post-password-form input[type="password"] {
    color: #0a1520;
    border-radius: 3px;
    border: none;
    padding: 3px 10px;
}
.comments-list > ul {
    padding:0;
}
ul.children {
    padding: 0;
    overflow: hidden;
    display: block;
    width: 100%;
}
.comments-area .comment .comment {
    margin-left: 2em;
    display: block;
    width: 100%;
    margin-top: 25px;
}
.widget_search .search-option {
    width: 100%;
}
.widget_search .search-option input {
    width: 87%;
}
.mt-90 {
    margin-top:90px;
}
.comment-respond .comment-form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}
.comment-respond .comment-form .email-not-publish {
    font-size: 15px;
    margin-top: 15px;
    width: 100%;
    -webkit-box-ordinal-group: 2;
    -ms-flex-order: 1;
    order: 1;
}
.comment-respond .comment-form .row {
    width: 100%;
    -webkit-box-ordinal-group: 4;
    -ms-flex-order: 3;
    order: 3;
}
.comment-respond .comment-form .row:nth-child(3) {
    -webkit-box-ordinal-group: 3;
    -ms-flex-order: 2;
    order: 2;
}
.comment-respond .comment-form .comment-form-cookies-consent {
    -webkit-box-ordinal-group: 5;
    -ms-flex-order: 4;
    order: 4;
    width: 100%;
    margin: 0 0 0px;
    margin-top: 15px;
}
.comment-respond .comment-form .form-submit {
    -webkit-box-ordinal-group: 6;
    -ms-flex-order: 5;
    order: 5;
    margin-bottom: 0;
}
code, kbd, samp {
    font-family: monospace, monospace;
    font-size: 1em;
}
code {
    color: #fff;
    background: transparent;
}
code, kbd, tt, var {
    font-family: Monaco, Consolas, "Andale Mono", "DejaVu Sans Mono", monospace;
    font-size: 15px;
}
dl {
    padding-left: 15px;
}
dt {
    font-weight: bold;
}
dd {
    margin: 0 1.5em 1.5em;
}
caption,
.wp-caption .wp-caption-text {
    letter-spacing: .30px;
    font-size: 14px;
}
body {
    background: #100e2e !important;
}
section.no-results.not-found {
    text-align: center;
}
.no-results .blog-search-option {
    max-width: 350px;
    margin: 0 auto;
}
.wp-block-image figcaption {
    color: #ddd;
    font-size: 14px;
    letter-spacing: .30px;
}
.search-no-results .blog-grid {
    margin-top: 0px;
}
.wp-block-button {
    margin-bottom: 10px;
}