<form id="news" class="col-md-10 mx-auto" style="padding-top:50px" method="POST" action="/news"
    enctype="multipart/form-data">
    <!-- Create the editor container -->
    <div class="position-relative form-group">
        <label for="title" class="">Tiêu đề</label>
        <input name="title" id="title" placeholder="Tiêu đề bài viết" type="text" class="form-control">
    </div>
    <div>
        <label for="newblogpost_content" class="required">Content</label>
        <textarea id="editor1" name="editor1"></textarea>
    </div>
    <div class="position-relative form-group mt-2">
        <label for="image" class="">Ảnh</label>
        <input name="image" id="image" type="file" class="form-control-file" accept="image/x-png,image/gif,image/jpeg">
        <small class="form-text text-muted">
            <div class=""></div> jpg png
        </small>
    </div>
    <button class="btn btn-primary mt-2 float-right" type="submit">Submit</button>

</form>

<script>
    CKEDITOR.replace('editor1');




</script>