<div class="main-card mb-3 card">
    <div class="card-body">
        <% if (message && message.length >0) { %>
        <div class="alert alert-info" role="alert">
            <%= message[0] %>
        </div>
        <% } %>
        <button onclick="window.location.href='news/add'" class="mb-2 mr-2 btn-icon btn btn-info"><i
                class="pe-7s-plus btn-icon-wrapper"> </i>Add</button>
        <% if (data) { %>
        <table style="width: 100%;" id="example" class="table table-hover table-striped table-bordered">
            <thead>
                <tr>
                    <th>title</th>
                    <th>content</th>
                    <th>Image</th>

                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                <% for(var i=0; i<data.length; i++){ %>
                <tr>

                    <td><%= data[i].title %></td>
                    <td>
                        <div style="width: 100%;
                            height: 80px;
                            overflow: scroll;"><%- data[i].content %></div>
                    </td>
                    <td> <img style="max-width:100px; max-height:auto;" src="<%= data[i].img %>" alt=""> </td>



                    <td class="text-center text-justify">
                        <button onclick="window.location.href='http://localhost:8010/<%= data[i].id %>/blog-details'"
                            class=" btn-icon btn btn-primary  "><i class="pe-7s-browser btn-icon-wrapper ">
                            </i>View</button> <button
                            onclick="window.location.href='product/<%= data[i].product_id %>/edit'"
                            class=" btn-icon btn btn-primary  "><i class="pe-7s-edit btn-icon-wrapper ">
                            </i>Edit</button>

                        <button onclick="window.location.href='product/<%= data[i].product_id %>/delete'"
                            class=" btn-icon btn btn-danger "><i class="pe-7s-delete-user btn-icon-wrapper">
                            </i>Delete</button></td>

                </tr>
                <% } %>


            </tbody>
            <tfoot>
                <tr>
                    <th>title</th>
                    <th>content</th>
                    <th>Image</th>

                    <th>Action</th>
                </tr>
            </tfoot>
        </table>
        <% } else { %>
        <h5>no products</h5>
        <% } %>
    </div>
</div>