<!doctype html>
<html lang="en-US">
<meta http-equiv="content-type" content="text/html;charset=UTF-8" />
<base href="http://localhost:8010/">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" type="image/x-icon" href="wp-content/themes/cavalier/assets/images/logo/favicon.ico">
    <title>Home - Cavalier</title>
    <meta name="robots" content="index, follow, max-snippet:-1, max-image-preview:large, max-video-preview:-1" />
    <link rel="canonical" href="index.html" />
    <meta property="og:locale" content="en_US" />
    <meta property="og:type" content="website" />
    <meta property="og:title" content="Home - Cavalier" />
    <meta property="og:url" content="index.html" />
    <meta property="og:site_name" content="Cavalier" />
    <meta property="article:modified_time" content="2019-11-23T17:45:18+00:00" />
    <meta name="twitter:card" content="summary_large_image" />
    <script type="application/ld+json"
        class="yoast-schema-graph">{"@context":"https://schema.org","@graph":[{"@type":"WebSite","@id":"https://themepuller.com/cavalier/#website","url":"https://themepuller.com/cavalier/","name":"Cavalier","description":"Gaming Studio WordPress Theme","potentialAction":[{"@type":"SearchAction","target":"https://themepuller.com/cavalier/?s={search_term_string}","query-input":"required name=search_term_string"}],"inLanguage":"en-US"},{"@type":"WebPage","@id":"https://themepuller.com/cavalier/#webpage","url":"https://themepuller.com/cavalier/","name":"Home - Cavalier","isPartOf":{"@id":"https://themepuller.com/cavalier/#website"},"datePublished":"2019-02-04T15:57:07+00:00","dateModified":"2019-11-23T17:45:18+00:00","inLanguage":"en-US","potentialAction":[{"@type":"ReadAction","target":["https://themepuller.com/cavalier/"]}]}]}</script>
    <link rel='dns-prefetch' href='http://fonts.googleapis.com/' />
    <link rel='dns-prefetch' href='http://s.w.org/' />
    <link rel="alternate" type="application/rss+xml" title="Cavalier &raquo; Feed" href="feed/index.html" />
    <link rel="alternate" type="application/rss+xml" title="Cavalier &raquo; Comments Feed"
        href="comments/feed/index.html" />
    <script type="text/javascript">
        window._wpemojiSettings = { "baseUrl": "https:\/\/s.w.org\/images\/core\/emoji\/13.0.0\/72x72\/", "ext": ".png", "svgUrl": "https:\/\/s.w.org\/images\/core\/emoji\/13.0.0\/svg\/", "svgExt": ".svg", "source": { "concatemoji": "https:\/\/themepuller.com\/cavalier\/wp-includes\/js\/wp-emoji-release.min.js?ver=5.5.1" } };
        !function (e, a, t) { var r, n, o, i, p = a.createElement("canvas"), s = p.getContext && p.getContext("2d"); function c(e, t) { var a = String.fromCharCode; s.clearRect(0, 0, p.width, p.height), s.fillText(a.apply(this, e), 0, 0); var r = p.toDataURL(); return s.clearRect(0, 0, p.width, p.height), s.fillText(a.apply(this, t), 0, 0), r === p.toDataURL() } function l(e) { if (!s || !s.fillText) return !1; switch (s.textBaseline = "top", s.font = "600 32px Arial", e) { case "flag": return !c([127987, 65039, 8205, 9895, 65039], [127987, 65039, 8203, 9895, 65039]) && (!c([55356, 56826, 55356, 56819], [55356, 56826, 8203, 55356, 56819]) && !c([55356, 57332, 56128, 56423, 56128, 56418, 56128, 56421, 56128, 56430, 56128, 56423, 56128, 56447], [55356, 57332, 8203, 56128, 56423, 8203, 56128, 56418, 8203, 56128, 56421, 8203, 56128, 56430, 8203, 56128, 56423, 8203, 56128, 56447])); case "emoji": return !c([55357, 56424, 8205, 55356, 57212], [55357, 56424, 8203, 55356, 57212]) }return !1 } function d(e) { var t = a.createElement("script"); t.src = e, t.defer = t.type = "text/javascript", a.getElementsByTagName("head")[0].appendChild(t) } for (i = Array("flag", "emoji"), t.supports = { everything: !0, everythingExceptFlag: !0 }, o = 0; o < i.length; o++)t.supports[i[o]] = l(i[o]), t.supports.everything = t.supports.everything && t.supports[i[o]], "flag" !== i[o] && (t.supports.everythingExceptFlag = t.supports.everythingExceptFlag && t.supports[i[o]]); t.supports.everythingExceptFlag = t.supports.everythingExceptFlag && !t.supports.flag, t.DOMReady = !1, t.readyCallback = function () { t.DOMReady = !0 }, t.supports.everything || (n = function () { t.readyCallback() }, a.addEventListener ? (a.addEventListener("DOMContentLoaded", n, !1), e.addEventListener("load", n, !1)) : (e.attachEvent("onload", n), a.attachEvent("onreadystatechange", function () { "complete" === a.readyState && t.readyCallback() })), (r = t.source || {}).concatemoji ? d(r.concatemoji) : r.wpemoji && r.twemoji && (d(r.twemoji), d(r.wpemoji))) }(window, document, window._wpemojiSettings);
    </script>
    <style type="text/css">
        img.wp-smiley,
        img.emoji {
            display: inline !important;
            border: none !important;
            box-shadow: none !important;
            height: 1em !important;
            width: 1em !important;
            margin: 0 .07em !important;
            vertical-align: -0.1em !important;
            background: none !important;
            padding: 0 !important;
        }
    </style>
    <link rel='stylesheet' id='wp-block-library-css'
        href='wp-includes/css/dist/block-library/style.mind03b.css?ver=5.5.1' type='text/css' media='all' />
    <link rel='stylesheet' id='contact-form-7-css'
        href='wp-content/plugins/contact-form-7/includes/css/stylesbb49.css?ver=5.2.2' type='text/css' media='all' />
    <link rel='stylesheet' id='cavalier-google-fonts0-css'
        href='https://fonts.googleapis.com/css?family=Montserrat:400,500,600,700,800,900&amp;subset=latin,cyrillic-ext,latin-ext,cyrillic,greek-ext,greek,vietnamese'
        type='text/css' media='all' />
    <link rel='stylesheet' id='cavalier-google-fonts1-css'
        href='https://fonts.googleapis.com/css?family=Open+Sans:400,600,700,800&amp;subset=latin,cyrillic-ext,latin-ext,cyrillic,greek-ext,greek,vietnamese'
        type='text/css' media='all' />
    <link rel='stylesheet' id='js_composer_front-css'
        href='wp-content/plugins/js_composer/assets/css/js_composer.min9b2d.css?ver=6.1' type='text/css' media='all' />
    <link rel='stylesheet' id='bootstrap-css' href='wp-content/themes/cavalier/assets/css/bootstrap.min.css'
        type='text/css' media='all' />
    <link rel='stylesheet' id='owl-carousel-css' href='wp-content/themes/cavalier/assets/css/owl.carousel.css'
        type='text/css' media='all' />
    <link rel='stylesheet' id='owl-transitions-css' href='wp-content/themes/cavalier/assets/css/owl.transitions.css'
        type='text/css' media='all' />
    <link rel='stylesheet' id='meanmenu-css' href='wp-content/themes/cavalier/assets/css/meanmenu.min.css'
        type='text/css' media='all' />
    <link rel='stylesheet' id='font-awesome-css' href='wp-content/themes/cavalier/assets/css/font-awesome.min.css'
        type='text/css' media='all' />
    <link rel='stylesheet' id='icon-css' href='wp-content/themes/cavalier/assets/css/icon.css' type='text/css'
        media='all' />
    <link rel='stylesheet' id='flaticon-css' href='wp-content/themes/cavalier/assets/css/flaticon.css' type='text/css'
        media='all' />
    <link rel='stylesheet' id='magnific-css' href='wp-content/themes/cavalier/assets/css/magnific.min.css'
        type='text/css' media='all' />
    <link rel='stylesheet' id='venobox-css' href='wp-content/themes/cavalier/assets/css/venobox.css' type='text/css'
        media='all' />
    <link rel='stylesheet' id='cavalier-default-norm-css'
        href='wp-content/themes/cavalier/assets/css/wp-default-norm.css' type='text/css' media='all' />
    <link rel='stylesheet' id='cavalier-style-css' href='wp-content/themes/cavalier/styled03b.css?ver=5.5.1'
        type='text/css' media='all' />
    <style id='cavalier-style-inline-css' type='text/css'>
        body {}

        .section-headline h3 {}
    </style>
    <link rel='stylesheet' id='cavalier-responsive-css' href='wp-content/themes/cavalier/assets/css/responsive.css'
        type='text/css' media='all' />
    <script type='text/javascript' src='wp-includes/js/jquery/jquery4a5f.js?ver=1.12.4-wp' id='jquery-core-js'></script>
    <link rel="https://api.w.org/" href="wp-json/index.html" />
    <link rel="alternate" type="application/json" href="wp-json/wp/v2/pages/42.json" />
    <link rel="EditURI" type="application/rsd+xml" title="RSD" href="xmlrpc0db0.php?rsd" />
    <link rel="wlwmanifest" type="application/wlwmanifest+xml" href="wp-includes/wlwmanifest.xml" />
    <meta name="generator" content="WordPress 5.5.1" />
    <link rel='shortlink' href='index.html' />
    <link rel="alternate" type="application/json+oembed"
        href="wp-json/oembed/1.0/embed17a6.json?url=https%3A%2F%2Fthemepuller.com%2Fcavalier%2F" />
    <link rel="alternate" type="text/xml+oembed"
        href="wp-json/oembed/1.0/embedc32e?url=https%3A%2F%2Fthemepuller.com%2Fcavalier%2F&amp;format=xml" />
    <meta name="framework" content="Redux 4.1.20" />
    <meta name="generator" content="Powered by WPBakery Page Builder - drag and drop page builder for WordPress." />
    <style type="text/css" data-type="vc_shortcodes-custom-css">
        .vc_custom_1556198231556 {
            margin-bottom: 0px !important;
        }

        .vc_custom_1556198221755 {
            margin-bottom: 0px !important;
        }

        .vc_custom_1556198173795 {
            margin-bottom: 0px !important;
        }

        .vc_custom_1556198186052 {
            margin-bottom: 0px !important;
        }

        .vc_custom_1556198214557 {
            margin-bottom: 0px !important;
        }

        .vc_custom_1556198353217 {
            margin-top: -30px !important;
        }
    </style><noscript>
        <style>
            .wpb_animate_when_almost_visible {
                opacity: 1;
            }
        </style>
    </noscript><noscript>
        <style id="rocket-lazyload-nojs-css">
            .rll-youtube-player,
            [data-lazy-src] {
                display: none !important;
            }
        </style>
    </noscript>
</head>