<footer>
    <div class="footer-area">
        <div class="container">
            <div class="row">
                <div class="col-md-4 col-sm-4 col-xs-12">
                    <div class="footer-content">
                        <div class="footer-head">
                            <div class="widget_text widget_custom_html footer-widget widget" id="custom_html-2">
                                <h4>Thông tin</h4>
                                <div class="textwidget custom-html-widget">
                                    <div class="footer-contacts">
                                        <p>Bạn đang tìm kiếm dịch vụ tạo ra trò chơi website chuyên nghiệp cho mình.</p>
                                        <p><span>Điện Thoại :</span ><a href="tel:+84396895733"> 0396-895-733</a></p>
                                        <p><span>Email :</span> info@cavalier43.com</p>
                                        <p><span>Địa chỉ :</span><a href="https://goo.gl/maps/4rZVaJcPf1T4A53BA"> N1A, Trung Hòa , Nhân Chính, Thanh Xuân, Hà Nội  </a></p>
                                    </div>
                                    <div class="footer-icons">
                                        <a href="#"> <i class="fa fa-facebook"></i></a>
                                        <a href="#"><i class="fa fa-twitter"></i></a>
                                        <a href="#"><i class="fa fa-google"></i></a>
                                        <a href="#"><i class="fa fa-pinterest"></i></a>
                                        <a href="#"><i class="fa fa-instagram"></i></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- end single footer -->
                <div class="col-md-4 col-sm-4 col-xs-12">
                    <div class="footer-content">
                        <div class="footer-head">
                            <div class="widget_text widget_custom_html footer-widget widget" id="custom_html-4">
                                <h4>Trò chơi nổi bật</h4>
                                <div class="textwidget custom-html-widget">
                                    <div class="footer-services-link">
                                        <ul class="footer-list">
                                            <li><a href="#">Draogon war</a></li>
                                            <li><a href="#">World war</a></li>
                                            <li><a href="#">Eagle fight</a></li>
                                            <li><a href="#">Coins game</a></li>
                                            <li><a href="#">Royal card</a></li>
                                            <li><a href="#">Picture game</a></li>
                                        </ul>
                                        <ul class="footer-list">
                                            <li><a href="#">Little bite</a></li>
                                            <li><a href="#">Cricket game</a></li>
                                            <li><a href="#">Card play</a></li>
                                            <li><a href="#">Angle draw</a></li>
                                            <li><a href="#">Blue out</a></li>
                                            <li><a href="#">Mind game</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- end single footer -->
                <div class="col-md-4 col-sm-4 col-xs-12">
                    <div class="footer-content">
                        <div class="footer-head">
                            <div class="widget_text widget_custom_html footer-widget widget" id="custom_html-3">
                                <h4>Về chúng tôi</h4>
                                <div class="textwidget custom-html-widget">
                                    <p> Bạn đang tìm kiếm nhà phát triển chuyên nghiệp cho các trò chơi mới của mình.</p>
                                    <!-- <div class="subs-feilds">
                                        <div class="suscribe-input">
                                            <input type="email" class="email form-control width-80" id="sus_email"
                                                placeholder="Nhập Email">
                                            <button type="submit" id="sus_submit" class="add-btn">Subscribe</button>
                                        </div>
                                    </div> -->
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- end single footer -->
            </div>
        </div>
    </div>
    <!-- End footer area -->

</footer>