<header class="header-one">
    <!-- header-area start -->
    <div id="sticker" class="header-area hidden-xs">
        <div class="container">
            <div class="row">
                <!-- logo start -->
                <div class="col-md-2 col-sm-3">
                    <div class="logo">
                        <!-- Brand -->
                        <a class="navbar-brand page-scroll sticky-logo" href="/">
                            <img src="data:image/svg+xml,%3Csvg%20xmlns='http://www.w3.org/2000/svg'%20viewBox='0%200%200%200'%3E%3C/svg%3E"
                                alt="Logo"
                                data-lazy-src="https://themepuller.com/cavalier/wp-content/themes/cavalier/assets/images/logo/logo2.png"><noscript><img
                                    src="wp-content/themes/cavalier/assets/images/logo/logo2.png" alt="Logo"></noscript>
                        </a>
                    </div>
                </div>
                <!-- logo end -->
                <div class="col-md-10 col-sm-9">
                  
                    <!-- mainmenu start -->
                    <nav class="navbar navbar-default">
                        <div class="collapse navbar-collapse" id="navbar-example">
                            <div class="main-menu">
                                <ul id="menu-primary" class="nav navbar-nav navbar-right">
                                    <li id="menu-item-233"
                                        class="menu-item menu-item-type-post_type menu-item-object-page menu-item-home current-menu-item page_item page-item-42 current_page_item menu-item-233">
                                        <a href="/" aria-current="page">Trang Chủ</a></li>
                                    <!-- <li id="menu-item-10"
                                        class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-10">
                                        <a href="#">Pages</a>
                                        <ul class="sub-menu">
                                            <li id="menu-item-231"
                                                class="menu-item menu-item-type-post_type menu-item-object-page menu-item-231">
                                                <a href="about-us/index.html">About Us</a></li>
                                            <li id="menu-item-230"
                                                class="menu-item menu-item-type-post_type menu-item-object-page menu-item-230">
                                                <a href="team/index.html">Team</a></li>
                                            <li id="menu-item-248"
                                                class="menu-item menu-item-type-post_type menu-item-object-page menu-item-248">
                                                <a href="faq/index.html">Faq</a></li>
                                            <li id="menu-item-279"
                                                class="menu-item menu-item-type-custom menu-item-object-custom menu-item-279">
                                                <a href="404.html">Error</a></li>
                                        </ul>
                                    </li> -->
                                    <li id="menu-item-234"
                                        class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children menu-item-234">
                                        <a href="/games">Trò chơi</a>
                                        <ul class="sub-menu">
                                            <li id="menu-item-269"
                                                class="menu-item menu-item-type-post_type menu-item-object-page menu-item-269">
                                                <a href="/games">Tất cả trò chơi</a></li>
                                            <li id="menu-item-270"
                                                class="menu-item menu-item-type-post_type menu-item-object-page menu-item-269">
                                                <a href="/playnows">Chơi ngay</a></li>
                                        </ul>
                                    </li>
                                    <li id="menu-item-257"
                                        class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children menu-item-257">
                                        <a href="/gallerys">Bộ sưu tập</a>

                                    </li>
                                    <li id="menu-item-258"
                                        class="menu-item menu-item-type-post_type menu-item-object-page menu-item-232">
                                        <a href="/blogs">Tin tức</a></li>
                                    <li id="menu-item-260"
                                        class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children menu-item-260">
                                        <a href="/abouts">Thông tin</a>
                                        <!-- <ul class="sub-menu">
                                            <li id="menu-item-268"
                                                class="menu-item menu-item-type-post_type menu-item-object-page menu-item-268">
                                                <a href="blog-grid/index.html">Blog grid</a></li>
                                            <li id="menu-item-262"
                                                class="menu-item menu-item-type-post_type menu-item-object-page menu-item-262">
                                                <a href="blog/index.html">Blog Sidebar</a></li>
                                            <li id="menu-item-261"
                                                class="menu-item menu-item-type-post_type menu-item-object-post menu-item-261">
                                                <a
                                                    href="cavalier-studios-has-been-creating-innovative-games-since-2003-3/index.html">Blog
                                                    Details</a></li>
                                        </ul> -->
                                    </li>
                                    <li id="menu-item-232"
                                        class="menu-item menu-item-type-post_type menu-item-object-page menu-item-232">
                                        <a href="/contacts">Liên Hệ</a></li>
                                </ul>
                            </div>
                        </div>
                    </nav>
                    <!-- mainmenu end -->
                </div>
            </div>
        </div>
    </div>
    <!-- header-area end -->
    <!-- mobile-menu-area start -->
    <div class="mobile-menu-area hidden-lg hidden-md hidden-sm">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="mobile-menu">
                        <div class="logo">
                            <a href="/">
                                <img src="data:image/svg+xml,%3Csvg%20xmlns='http://www.w3.org/2000/svg'%20viewBox='0%200%200%200'%3E%3C/svg%3E"
                                    alt="Logo"
                                    data-lazy-src="wp-content/themes/cavalier/assets/images/logo/logo2.png"><noscript><img
                                        src="wp-content/themes/cavalier/assets/images/logo/logo2.png"
                                        alt="Logo"></noscript>
                            </a>
                        </div>
                        <nav id="dropdown">
                            <ul id="menu-primary-1" class="menu">
                                <li
                                    class="menu-item menu-item-type-post_type menu-item-object-page menu-item-home current-menu-item page_item page-item-42 current_page_item menu-item-233">
                                    <a href="/" aria-current="page">Trang Chủ</a></li>
                                <li
                                    class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-10">
                                    <a href="#">Pages</a>

                                </li>
                                <li
                                    class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children menu-item-234">
                                    <a href="#">Trò chơi</a>
                                    <ul class="sub-menu">
                                        <li
                                            class="menu-item menu-item-type-post_type menu-item-object-page menu-item-269">
                                            <a href="/games">Tất cả trò chơi</a></li>
                                        <li
                                            class="menu-item menu-item-type-post_type menu-item-object-page menu-item-269">
                                            <a href="/playnows">Chơi ngay</a></li>

                                    </ul>
                                </li>
                                <li
                                    class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children menu-item-257">
                                    <a href="gallery/index.html">Bộ sưu tập</a>

                                </li>
                                <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-258">
                                    <a href="contact/index.html">Tin tức</a></li>
                                <li
                                    class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children menu-item-260">
                                    <a href="blog/index.html">Thông tin</a>

                                </li>

                                <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-232">
                                    <a href="contact/index.html">Liên Hệ</a></li>
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- mobile-menu-area end -->
    <style>

    </style>
</header>